
  <div class="modal-header mt-2 bg-primary-subtle text-primary">
    <h5 class="modal-title" id="attachDocumentLabel">Action Item</h5>
    <button type="button" class="btn-close" ng-click="exitPopup()" aria-label="Close"></button>
  </div>

<div class="modal-body">

  <div class="container-fluid">
    <div class="row col-12">
    <div class="card col-6 align-top">
        <div class="card-body" >
        <div class="form-group">
            <label for="synopsis">Synopsis:</label>
            <input ng-model="goal.synopsis" class="form-control" placeholder="Enter synopsis"/>
        </div>
        <div class="form-group">
            <label for="assignee">Assignee:</label>
            <tags-input ng-model="goal.assignTo" placeholder="Enter user name or id"
                        display-property="name" key-property="uid" on-tag-clicked="showUser($tag)">
                <auto-complete source="loadPersonList($query)" min-length="1"></auto-complete>
            </tags-input>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea ng-model="goal.description" class="form-control markDownEditor" placeholder="Enter description"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Task Area:</label>
            <select ng-model="goal.taskArea" class="form-control" 
                ng-options="foo.id as foo.name for foo in taskAreaList">
            </select>
        </div>
      </div>
    </div>
      <div class="card col-6">
        <div class="form-group">
            <label for="labels">Labels:</label>
            <span class="dropdown" ng-repeat="role in allLabels">
                <button class="labelButton" ng-click="toggleLabel(role)"
                   style="background-color:{{role.color}};"
                   ng-show="hasLabel(role.name)">{{role.name}} <i class="fa fa-close"></i></button>
            </span>
            <span class="dropdown">
               <button class="btn btn-sm btn-primary btn-raised labelButton" 
                   type="button" 
                   id="menu1" 
                   data-toggle="dropdown"
                   title="Add Label"
                   style="padding:5px 10px">
                   <i class="fa fa-plus"></i></button>
               <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" 
               style="width:320px;left:-130px">
                 <li role="presentation" ng-repeat="rolex in allLabels" style="float:left">
                     <button role="menuitem" tabindex="-1" ng-click="toggleLabel(rolex)" class="labelButton" 
                     ng-hide="hasLabel(rolex.name)" style="background-color:{{rolex.color}}">
                         {{rolex.name}}</button>
                 </li>
                 <div class="dropdown-divider" style="float:clear"></div>               
                 <li role="presentation" style="float:right">
                   <button role="menuitem" ng-click="openEditLabelsModal()" class="dropdown-item btn btn-sm btn-primary btn-raised">
                       Add/Remove Labels</button>
                 </li>
               </ul>
            </span>
        </div>
        <div class="form-group">
            <label for="startdate">Start Date:</label>
            <span datetime-picker ng-model="goal.startdate" 
                class="form-control" style="max-width:300px">
                <span ng-show="goal.startdate>1000000" datetime-picker ng-model="goal.startdate" > 
                    {{goal.startdate|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}} </span>
                <span ng-show="goal.startdate<=1000000" datetime-picker ng-model="goal.startdate" > 
                    not set </span>
            </span> 
        </div>
        <div class="form-group">
            <label for="duedate">Due Date:</label>
            <span datetime-picker ng-model="goal.duedate" 
                class="form-control" style="max-width:300px">
                <span ng-show="goal.duedate>1000000" datetime-picker ng-model="goal.duedate" > 
                    {{goal.duedate|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}} </span>
                <span ng-show="goal.duedate<=1000000" datetime-picker ng-model="goal.duedate" > 
                    not set </span>
            </span> 
        </div>
        <div class="form-group">
            <label for="enddate">End Date:</label>
            <span datetime-picker ng-model="goal.enddate" 
                class="form-control" style="max-width:300px" ng-show="goal.state==5">
                <span ng-show="goal.enddate>1000000" ng-model="goal.enddate" datetime-picker> 
                    {{goal.enddate|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}} </span>
                <span ng-show="goal.enddate<=1000000" ng-model="goal.enddate" datetime-picker> 
                    not set </span>
            </span> 
            <span class="dropdown-toggle form-control" 
                  ng-show="goal.state!=5">
                set end date after action item completed
            </span>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
  <div ng-show="editMode=='status'">
    <div style="text-align:center">
      {{goal.synopsis}}
    </div>
    <div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group" 
             title="status is a freeform text statement about your current progress on action item">
            <label for="synopsis">Status:</label>
            <textarea ng-model="goal.status" class="form-control"     
                placeholder="Enter text describing the current status"></textarea>            
        </div>
        <div class="form-group">
            <div style="padding:10px;">
              <img src="../../../assets/goalstate/red_off.png" ng-hide="goal.prospects=='bad'"
                   title="Red: In trouble" ng-click="changeRAG(goal, 'bad')">
              <img src="../../../assets/goalstate/red_on.png"  ng-show="goal.prospects=='bad'"
                   title="Red: In trouble" >
              <img src="../../../assets/goalstate/yellow_off.png" ng-hide="goal.prospects=='ok'"
                   title="Yellow: Warning" ng-click="changeRAG(goal, 'ok')">
              <img src="../../../assets/goalstate/yellow_on.png"  ng-show="goal.prospects=='ok'"
                   title="Yellow: Warning" >
              <img src="../../../assets/goalstate/green_off.png" ng-hide="goal.prospects=='good'"
                   title="Green: Good shape" ng-click="changeRAG(goal, 'good')">
              <img src="../../../assets/goalstate/green_on.png"  ng-show="goal.prospects=='good'"
                   title="Green: Good shape">
            </div>
        </div>
        <div class="form-group">
            <label for="synopsis">Due Date:</label>
            <div>
                <span datetime-picker ng-model="goal.duedate" 
                    class="form-control" style="max-width:300px;display:inline">
                    <span ng-show="goal.duedate>1000000" datetime-picker ng-model="goal.duedate" > {{goal.duedate|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}} </span>
                    <span ng-show="goal.duedate<=1000000" datetime-picker ng-model="goal.duedate" > not set </span>
                </span> 
                <span style="padding:10px">
                   <a href="ActionItem{{goal.id}}Due.ics">calendar</a>
                </span>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="synopsis">Checklist:</label>
              <textarea class="form-control" ng-model="goal.checklist" style="min-height:200px"></textarea>
        </div>
      </div>
    </div>
  </div>





  <div ng-show="editMode=='assignee'">
    <div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="synopsis">Assigned To:</label>
              <tags-input ng-model="goal.assignTo" placeholder="Enter user name or id" 
                          display-property="name" key-property="uid"
                          replace-spaces-with-dashes="false" add-on-space="true" add-on-comma="true"
                          on-tag-added="updatePlayers()" 
                          on-tag-removed="updatePlayers()">
                  <auto-complete source="loadPersonList($query)" min-length="1"></auto-complete>
              </tags-input>
        </div>
        <div class="form-group">
            <label for="synopsis">Checklist:</label>
              <textarea class="form-control" ng-model="goal.checklist" style="min-height:200px"></textarea>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="synopsis">State: </label>
            <span style="padding:10px;"><img ng-src="../../../assets/goalstate/large{{goal.state}}.gif"></span>
            
            <span class="dropdown">
                <button class="btn btn-default btn-raised dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Change <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(1)">
                          Mark <img src="../../../assets/goalstate/small1.gif"> Unstarted
                      </a>
                  </li>
                  <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(2)">
                          Mark <img src="../../../assets/goalstate/small2.gif"> Offered
                      </a>
                  </li>
                  <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(3)">
                          Mark <img src="../../../assets/goalstate/small3.gif"> Accepted
                      </a>
                  </li>
                  <!--li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(4)">
                          Mark <img src="../../../assets/goalstate/small4.gif"> Waiting
                      </a>
                  </li-->
                  <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(5)">
                          Mark <img src="../../../assets/goalstate/small5.gif"> Completed
                      </a>
                  </li>
                  <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(6)">
                          Mark <img src="../../../assets/goalstate/small6.gif"> Skipped
                      </a>
                  </li>
                  <!--li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(7)">
                          Mark <img src="../../../assets/goalstate/small7.gif"> Reviewing
                      </a>
                  </li-->
                  <!--li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" ng-click="setState(8)">
                          Mark <img src="../../../assets/goalstate/small8.gif"> Paused
                      </a>
                  </li-->
                </ul>
            </span>
        </div>
        <div class="" ng-show="goal.state==3 && goal.waitUntil<nowTime">
            <table><tr><td>
              <button ng-click="setWaitUntil()" class="btn btn-default btn-raised" 
                    ng-show="goal.waitUntil<nowTime">Pause Task</button>
            </td><td style="padding:5px">
              until 
            </td><td>
              <span datetime-picker ng-model="waitProxy" 
                class="form-control" style="max-width:150px">
                {{waitProxy|date:"dd-MMM-yyyy"}}
              </span> 
            </td></tr></table>
        </div>        
        <div class="" ng-show="goal.waitUntil>=nowTime">
            <table><tr><td>
              Paused until  
              {{goal.waitUntil|date:"dd-MMM-yyyy"}} 
            </td><td style="padding:5px">
              <button ng-click="cancelWaitUntil()" class="btn btn-default btn-raised" >Cancel</button>
            </td></tr></table>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>


  <div ng-show="editMode=='error'">
    <h2>An error occurred</h2>
    <div style="text-align:center">
      {{error}}
    </div>
  </div>  
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-raised" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised pull-left" ng-click="cancel()">Cancel</button>
</div>