

  <div class="modal-header mt-2 bg-primary-subtle text-primary"><h4 class="modal-title" id="agendaItemLabel">Agenda Item Settings</h4>
    
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="card col-md-12">
        <div class="card-body container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
            <label for="labels">Name of Agenda Item:</label>
            <input ng-model="agendaItem.subject"  class="form-control"  placeholder="Enter Agenda Item Name"/>
        </div>
        <div class="form-check my-3 mx-2">
                <input class="form-check-input form-control-md"  type="checkbox" ng-model="agendaItem.isSpacer" />
                This is a break time
        </div>
        <div class="form-group row g-3">
          <div class="col-auto">
            <label for="labels">Planned Duration: (minutes)</label>
            <input ng-model="agendaItem.duration"  class="form-control" style="width:100px;"/>
        </div>          
        </div>
            </div>
            <div class="col-6">
              <div class="form-group">
            <label for="labels">Presenter:</label>
            <tags-input ng-model="agendaItem.presenterList"
                      placeholder="Enter user name or id"
                      display-property="name" key-property="uid"
                      on-tag-added="updatePresenters()" 
                      on-tag-removed="updatePresenters()">
                <auto-complete source="getPeople($query)" min-length="1"></auto-complete>
            </tags-input>
              </div>
              <div class="form-check my-3 mx-2">
            <input type="checkbox"  ng-model="agendaItem.proposed" class="form-check-input"/>
            Proposed Item
              </div>
              <div class="form-group row g-3">
                <div class="col-auto">
                  <label for="labels">Actual Duration: (minutes)</label>
                  <input ng-model="agendaItem.previousElapsed"  class="form-control" style="width:100px;" ng-hide="agendaItem.timerRunning"/>
                  <span class="form-control" style="width:100px;color:lightgray" ng-show="agendaItem.timerRunning">{{agendaItem.previousElapsed}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
            <label for="labels">Description:</label>
            
            
            <textarea class="form-control min-vh-50" placeholder="Enter description" ui-tinymce="tinymceOptions" ng-model="agendaItem.descriptionHtml" ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    
    <button class="me-auto btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    </div>
  </div>

