
<div class="modal-header mt-2 bg-primary-subtle text-primary">
  <h5 class="modal-title" id="attachDocumentLabel">
    Link to Discussion Topic</h5>
    <button type="button" class="btn-close" ng-click="exitPopup()" aria-label="Close"></button>
  </div>
<div class="modal-body">
   <div class="container gx-0">
    <div class="row gx-0">
      <div class="card col-md-6 align-top">
        <div class="card-header border-1 d-flex vh-65"> 
            Existing Topics: Filter &nbsp;&nbsp;<input type="text" ng-model="realDocumentFilter" style="max-width:40%; max-height: 25px;">
        </div>
        <div class="card-body">
          <div class="row col-12 align-top">
            <div ng-repeat="doc in filterDocs()" ng-click="addTopicToItem(doc)" style="cursor:pointer"
                title="Click to link to this topic">
                <span class="col-4" limit-to="10">{{doc.subject}} </span>
                <span class="col-2">
                    <button ng-hide="itemHasDoc(doc)"
                        class="btn btn-tiny border-0" > <i class="fa fa-arrow-right"></i></button>
                    <button ng-show="itemHasDoc(doc)" title="Discussion forum is already linked.">&nbsp;</button>
                </span>
            </div>
            <div ng-show="filterDocs().length==0">
                <span class="instruction">No topics to choose from.<br/><br/>Filter: {{realDocumentFilter}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-6 align-top">
        <div class="card-header border-1 vh-65"> 
            Selected Topics
        </div>
        <div class="card-body">
          <div class="row-col-12 align-top">
            <div ng-repeat="topic in fullTopics" ng-click="removeTopicFromItem(topic)" 
                title="Click to unlink the discussion topic"  style="cursor:pointer">
                <span class="col-4"> {{topic.subject}} </span>
                <span class="col-1">
                    <button class="btn btn-tiny border-0"><i class="fa fa-close"></i> </button>
                </span>
            </div>
            <div ng-show="fullTopics.length==0">
                <td class="instruction">No topic linked..<br/><br/>
                <span ng-show="filterDocs().length>0">Click on an topic on the left, to set it here on the right.  Since only one can be linked it will replace whatever was linked before.</span></td>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   </div>

<div class="modal-footer">
    <button class="btn btn-danger me-auto" type="button" ng-click="cancel()">
        Cancel</button>
        <button class="btn btn-primary"
        type="button" ng-click="ok()">Save</button>
    
</div>
