
<div class="modal-item pt-3"></div>
  <div class="modal-header bg-primary-subtle text-primary">
    <h4 class="modal-title" id="attachDocumentLabel">
    Edit Decision
    </h4>
  </div>
<div class="modal-body" ng-show="editMode=='decision'">
  <div class="container-fluid">
    <div class="row col-12">
    	<div ui-tinymce="tinymceOptions" ng-model="htmlEditing" 
             class="leafContent" style="min-height:200px;" ></div>
    </div>

       <div class="form-group">
        <label for="labels" class="h6">Labels:</label>
        <span class="nav-item dropdown d-inline">
          <button class="btn-tiny btn-comment p-2">
            <i class="fa fa-plus"></i></button>         
              <ul class="dropdown-menu mb-0 p-2" role="menu" aria-labelledby="selectLabel" 
            style="width:320px;left:-130px">
              <li role="presentation" ng-repeat="rolex in allLabels" style="float:left">
              <button role="menuitem" tabindex="0" ng-click="toggleLabel(rolex)" class="labelButton" 
              ng-hide="hasLabel(rolex.name)" style="background-color:{{rolex.color}}">
                  {{rolex.name}}</button>
          </li>
          <div class="dropdown-divider" style="float:clear"></div>               
          <li role="presentation" style="float:right">
            <button role="menuitem" ng-click="openEditLabelsModal()" class="labelButtonAdd btn-comment h6 ">
                Add/Remove Labels</button>
          </li>
        </ul>
      </span>

   <span class="dropdown" ng-repeat="role in allLabels">
     <button class="dropdown labelButton" ng-click="toggleLabel(role)"
        style="background-color:{{role.color}};"
        ng-show="hasLabel(role.name)">{{role.name}} <i class="fa fa-close"></i></button>
   </span>
      </div>
    </div>
</div>
<div class="card col-sm-12">
  <div class="d-flex card-header bg-primary-subtle text-primary"><span class="h5">Decision Details</span></div>
  <div class="card-body">
    <div class="container-fluid">    
      <div class="row my-2">
        <div class="col-md-6 col-sm-12">
          <div class="form-group d-flex col-10">
            <label for="startdate" class="col-3 control-label h6">Date Created:</label>
            <span datetime-picker ng-model="decision.timestamp" 
                class="form-control col-3" >
                <span ng-show="decision.timestamp>1000000" 
                      datetime-picker ng-model="decision.timestamp" > 
                    {{decision.timestamp|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}} </span>
                <span ng-show="decision.timestamp<=1000000" datetime-picker 
                      ng-model="decision.timestamp" > 
                    not set </span>
            </span> 
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group d-flex col-10">
            <label for="startdate" class="col-3 control-label h6">Review Date:</label>
            <span datetime-picker ng-model="decision.reviewDate" 
                class="form-control col-3" >
              <span ng-show="decision.reviewDate>1000000" 
                      datetime-picker ng-model="decision.reviewDate" > 
                    {{decision.reviewDate|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}} </span>
              <span ng-show="decision.reviewDate<=1000000" datetime-picker 
                      ng-model="decision.reviewDate" > 
                    not set </span>
            </span> 
          </div>
        </div>
      </div>
<hr>
      <div class="row my-3 col-12 d-flex">
          <div class="form-group d-flex">
            <label for="startdate" class="col-3 control-label h6">Review Completed:</label>
            <button class="btn btn-secondary btn-raised btn-sm btn-wide col-3" ng-click="advanceReviewDate()">Advance by 1 year</button>
            <button class="col-3 btn btn-danger btn-raised btn-wide btn-sm ms-auto" ng-click="deleteDecision()" ng-hide="decision.deleteMe">DELETE DECISION</button>
          </div>
        </div>
      </div>
      <div class="row my-3 col-12 d-flex">
        <div class="form-group d-flex">
            <p class="h5" ng-show="decision.deleteMe"><b><em>Click 'Save' to actually delete the decision</em></b></p>
            <button class="btn btn-danger btn-raised btn-sm ms-auto" ng-click="deleteCancel()" ng-show="decision.deleteMe">Cancel Delete</button>
          </div>
        </div>
      </div>
<hr>
<div class="modal-footer d-flex">
    <button class="btn btn-danger btn-raised me-auto" type="button" ng-click="cancel()">
        Cancel</button>
    <button ng-show="decision.num=='~new~'" class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Create</button>
    <button ng-hide="decision.num=='~new~'" class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Save</button>
    
</div>

