
<div class="modal-item pt-3"></div>
  <div class="modal-header bg-primary-subtle text-primary">
    <h4 class="modal-title" id="attachDocumentLabel">
    Edit Meeting Notes
      </h4>

  </div>
<div class="modal-body" ng-style="bodyStyle()">
  <div ng-show="editMode=='edit'">
    <div class="form-group" 
         title="The minutes is text describing the things discussed during the meeting.">

      <div style="margin-bottom:15px;">
    	  <div ui-tinymce="tinymceOptions" ng-model="agendaHtml" 
        class="leafContent" style="min-height:250px;" ></div>
      </div>
    </div>
  </div>
  <div ng-show="editMode=='legend'">
    <div class="col-sm-12 col-md-6">
      <p><b>At Beginning of Line</b></p>
      <table class="table">
        <tr>
          <th>Put</th>
          <th>Meaning</th>
        </tr>
        <tr>
          <td>*</td>
          <td>First level bullet</td>
        </tr>
        <tr>
          <td>**</td>
          <td>Second level bullet</td>
        </tr>
        <tr>
          <td>***</td>
          <td>Third level bullet</td>
        </tr>
        <tr>
          <td>!!!</td>
          <td>Heading 1</td>
        </tr>
        <tr>
          <td>!!</td>
          <td>Heading 2</td>
        </tr>
        <tr>
          <td>!</td>
          <td>Heading 3</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><b>Surrounding text in the Line</b></p>
      <table class="table">
        <tr>
          <th>Use</th>
          <th>Meaning</th>
        </tr>
        <tr>
          <td>''abc''</td>
          <td>Two single quotes make italic</td>
        </tr>
        <tr>
          <td>__abc__</td>
          <td>Two underscores make it bold</td>
        </tr>
        <tr>
          <td>[http://xyz]</td>
          <td>Square bracket simple hyperlink</td>
        </tr>
        <tr>
          <td>[NAME | http://xyz]</td>
          <td>Brackets and vertical bar hyperlink</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div style="clear:both"></div>
</div>
<div class="modal-footer">
    
    <button ng-hide="agendaData.needsMerge" class="me-auto btn">
        <input type="checkbox" ng-model="autoMerge"> Automatically Merge (danger)
    </button>
    <button ng-show="agendaData.needsMerge" class="btn btn-danger btn-raised"
        type="button" ng-click="mergeNewData()"><i class="fa fa-exclamation-triangle"></i> Merge Changes from Others</button>
        <span class="instruction my-2 fs-6 fw-bold me-auto">
          Clicking exit will save changes <i class="fa fa-arrow-right"></i>
      </span>
        <button ng-hide="id=='~new~'" class=" btn btn-secondary btn-raised pull-left"
        type="button" ng-click="ok()">Exit</button>
      </div>
</body>
</html>
