
<div class="modal-item"></div>
<div class="modal-header bg-primary-subtle text-primary">
    <span ng-click="editMode='main'" ng-class="editMode=='main'?">
        <span class="modal-title h5" id="EditRole" ng-hide="isNew">Edit Players for Role: {{roleInfo.name}}</span>
        <span class="modal-title h5" id="creatNew" ng-show="isNew">Create Role</span>
    </span>

</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row col-12">
        <div ng-hide="isNew || editMode=='expert'" >
            
            <div class="row d-flex">
                <div class="form-group d-flex col-12 m-2">
                    <label class="col-4 control-label h6">Color:</label>
                    <span class="nav-item dropdown d-inline col-4" style="position:relative">
                        <button class="btn btn-wide btn-raised dropdown dropdown-toggle" type="button"
                        id="menu3" data-toggle="dropdown" style="background-color:{{roleInfo.color}};">{{roleInfo.color}} <span class="caret"></span></button>
                        <ul class="dropdown-menu p-2 col-4" role="menu" aria-labelledby="menu3" style="width:320px;height:max-content;">
                    <li role="presentation" ng-repeat="color in colors">
                        <a  class="m-1 p-1" role="menuitem" style="background-color:{{color}};float:left;"
                        ng-click="roleInfo.color=color;updatePlayers()">{{color}}</a></li>
                        </ul>
                    </span>
                    <span class="col-md-3 control-label h6">Access: {{accessType()}}</span>
                </div>
                <div class="form-group d-flex col-12 m-2">
                    <label class="col-4 control-label h6">Players:</label>
                    <span class="col-8">
                        <tags-input ng-model="roleInfo.players" placeholder="Enter user name or id" display-property="name"  key-property="uid"  replace-spaces-with-dashes="false" add-on-space="true" add-on-comma="true" on-tag-added="updatePlayers()" on-tag-removed="updatePlayers()">
                        <auto-complete source="loadPersonList($query)" min-length="1"></auto-complete>
                        </tags-input>
                    </span>
                </div>
                <div class="form-group d-flex col-12 m-2">
                    <span class="col-4 h6 gridTableColummHeader">Description:</span>
                    <span class="col-8">
                        <div ng-bind-html="roleInfo.description|wiki"></div>
                    </span>
                </div>
                <div class="form-group d-flex col-12 m-2">
                    <span class="col-4 h6" >Term:</span>
                    <span class="col-8">
                        <span ng-show="currentTerm">
                        {{currentTerm.termStart | date}} to {{currentTerm.termEnd | date}}.
                        Nomination status is {{currentTerm.state}}</span>
                        <span ng-hide="currentTerm">
                            <i>No current term has been set for this role.  Role players are perpetual.</i>
                        </span>
                    </span>
                </div>
                <div class="form-group d-flex col-12 m-2">
                    <span class="col-4 h6" >Responsibilities:</span>
                    <span class="col-8">
                        <div ng-repeat="resp in roleInfo.responsibilities">
                            <div ng-bind-html="resp.text|wiki"></div> 
                        </div>
                        <div ng-show="roleInfo.responsibilities.length==0">
                            <i>No responsibilities have been set for this role.</i>
                        </div>
                    </span>
                </div>
            </div>
            <div class="card d-flex" >
                <div class="card-body">
                    <span class="h5">Advanced</span>
                </div>
                <div class="form-group d-flex col-12 m-2">
                    <span class="col-2 h6" >    <label>Email:</label></span>
                    <span class="col-6">
                        <div ng-repeat="player in roleInfo.players">
                        {{player.uid}}
                        </div>
                    </span>
                    <span class="col-4 h6"  >
                        <div ng-repeat="player in roleInfo.players">
                        {{player.name}}
                        </div>
                    </span>
                </div>
                <div class="form-group d-flex col-12 m-2">
                    <span class="col-2 h6" >Linked to:</span>
                    <span class="col-8" ng-show="roleInfo.linkedRole">
                    {{roleInfo.linkedRole}}
                    </span>
                    
                    <span class="col-6" ng-hide="roleInfo.linkedRole">
                        <input ng-model="newLinkName" class="form-control">
                    </span>
                    <span class="col" ng-hide="roleInfo.linkedRole">
                        <button ng-click="makeLink()" class="btn btn-raised btn-comment btn-secondary ms-1" >Make Link</button>
                    </span>
                    <span class="col" ng-show="roleInfo.linkedRole">
                        <button ng-click="unLink()" class="btn btn-raised btn-sm btn-secondary ms-0">Unlink</button>
                    </span>
                </div>
            </div>
        </div>

        <div ng-show="isNew || editMode=='main'">
            <div class="row d-flex">
                <div class="form-group d-flex col-12 m-2" >
                    
                    
    <div class="container-fluid" ng-show="isNew">
        <div class="row d-flex my-3">
            <span class="col-2 gridTableColummHeader h6">Name:</span>
            <span class="col-10">
               <input class="form-control" style="max-width:400px" ng-model="roleInfo.name">
            </span>
        </div>
        <div class="row d-flex my-3">
            <span class="col-12">
               <span class="instruction">First create the role, then add member to it.  
                  Role names can not be changed.  Copy a role to change its name.
                  The name should be short and should use only letters and numbers.</span>
            </span>
        </div>
        <div class="row d-flex my-3">
            <span class="col-2 h6" >Copy From:</span>
            <span class="col-10">
               <select class="form-control" style="max-width:400px" ng-model="roleToCopy"
                       ng-options="role.name for role in allRoles">
                   <option value="">-- choose to copy --</option>
               </select>
            </span>
        </div>
    </div>
 
</div>
<div class="modal-footer">
    <button class="me-auto btn btn-secondary" type="button" ng-click="cancel()">Exit</button><span class="h6" ng-hide="isNew">Clicking Exit will save your changes</span>
    <button ng-click="createAndClose()" class="btn btn-primary btn-raised" ng-show="isNew">Create Role</button>
</div>

