html {
	font-family: 'Roboto','PT Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fff;
    min-width:350px;
}
    
.entry-header {
    margin-top:50px;
}



















body,
button,
input,
select,
textarea {
	color: #39134C;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-size: 1rem;

}




body,
blockquote cite,
blockquote small,
.main-navigation a,
.menu-toggle,
.dropdown-toggle,
.social-navigation a,
.post-navigation a,
.pagination a:hover,
.pagination a:focus,
.widget-title a,
.site-branding .site-title a,
.entry-title a,
.page-links > .page-links-title,
.comment-author,
.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
    color: #39134C;

}


button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #39134C;
	border: 0;
	border-radius: 20px;
	color: #fff;
	font-family: Lato, sans-serif;


	padding: 0.84375em 0.875em 0.78125em;

}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #39134C;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline-offset: -4px;
	background-color: #39134C;
}

/* Border Color */
fieldset,
pre,
abbr,
acronym,
table,
th,
td,
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.main-navigation li,
.main-navigation .primary-menu,
.menu-toggle,
.dropdown-toggle:after,
.social-navigation a,
.image-navigation,
.comment-navigation,
.tagcloud a,
.entry-content,
.entry-summary,
.page-links a,
.page-links > span,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.comment-reply-link,
.no-comments,
.widecolumn .mu_register .mu_alert {
    border-color: #000000; /* Fallback for IE7 and IE8 */
    border-color: rgba( 0, 0, 0, 0.2);
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
.entry-content .content-column.one_half.last_column .list-left {
}

.site {
	background-color: #39134C;
	margin: 0;
}
.site-main {
	margin-bottom: 5em;
}

.site-header-main {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.site-branding {
	margin: 0.5	em auto 0.5em 0;
	/* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
	max-width: 100%;
	min-width: 0;
}

.custom-logo-link {
	display: block;
}

.custom-logo {
	max-width: 320px;
}



.site-branding .site-title a {
	color: #1a1a1a;
}

.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: #AB37C8;
}




.header-image {
	clear: both;
	margin: 0.875em 0;
}

.header-image a {
	display: block;
}

.header-image a:hover img,
.header-image a:focus img {
	opacity: 0.85;
}


.site-title {
	font-size: 28px;
	font-size: 1.75rem;

	margin-top: -2em;
}
.site-header	{
	background-color: #fff;
	padding: 0.2em 1% .5;
}
/*from shortcodes-css*/
.clear_column {
	clear:both;
	display:block;
	font-size:0; height:0;

	overflow: hidden;
}
/* =General CSS
-------------------------------------------------------------- */
.full_width,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	float: left;
}

/* =Default Template (no margin)
-------------------------------------------------------------- */
.full_width  {
	width: 100%;
}
.one_half  {
	width: 50%;
}
.one_third  {
	width: 33.3%;
}
.two_third  {
	width: 60.6%;
	margin-left: 5%
}
.one_fourth  {
	width: 25%;
}
.three_fourth  {
	width: 75%;
}
.one_fifth  {
	width: 20%;
}
.two_fifth  {
	width: 40%;
}
.three_fifth  {
	width: 60%;
}
.four_fifth  {
	width: 80%;
}
.one_sixth  {
	width: 16.6%;
}
.five_sixth  {
	width: 83.4%;
}

/* =Responsive
-------------------------------------------------------------- */


.full_width,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
}



.two-third_column	{
	margin-left: 5%;
}
/*end shortcodes-css*/
.entry-content {
	width: 100%;
}

#content{
	margin: -96px 0px;
	height:auto;
}
.site-content {
	padding: 0;
	background-position: 100% 0%;
}
.content-area {
	float: left;
	width: 100%;
}
.no-sidebar .content-area {
	float: none;
	margin: 0px;
	width: 100%;
}
.no-sidebar .entry-header,
.no-sidebar .entry-content,
.no-sidebar .entry-summary,
.no-sidebar .entry-footer,
.no-sidebar .comments-area,
.no-sidebar .image-navigation,
.no-sidebar .post-navigation,
.no-sidebar .pagination,
.no-sidebar .page-header,
.no-sidebar .page-content,
.no-sidebar .content-bottom-widgets {
	margin-right: 0px;
	margin-left: 0px;

	}
hr,
code {
    background-color: #000000; /* Fallback for IE7 and IE8 */
    background-color: rgba( 0, 0, 0, 0.2);
}


.site-branding {
    margin: 0 auto 0 0;
}
picture {
	display: inline-block;
	padding: 1rem
}
.site-branding .site-title,
.site-description {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
	display: block;
}



a {
	color: #39134c;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #ab37c8;
}

a:focus {
	outline: normal;
}

a:hover {
	color: #ab37c8;
}


.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: none;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.taxonomy-description a:hover,
.taxonomy-description a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus,
.textwidget a:hover,
.textwidget a:focus {
	box-shadow: none;
}

.white-section	{
	background-color: #fff;
	color:#39134c; 
	height: 80%;
	width: 100%; 
	margin-left: 0px;
	padding: 25px 50px
	}

.purple-section	{
	background-color: #39134C; 
	color:#fff; 
	height: auto;
	width: 100%; 
	margin-left: 0px;
	margin-top: 50px;
	padding: 5px 75px;
	}
.purple-section a {
	color: #CC99FF;
	text-decoration: underline;
}
.purple-section a:hover {
	color: #AB37C8;
	text-decoration: underline;
}

.alignbottom{
	position: relative;
	margin-top: -25px;
}


.entry-title a:hover,
.entry-title a:focus {
    color: #ab37c8;
}

.page-links a:hover,
.page-links a:focus {
    background-color: #007acc;
    border-color: transparent;
    color: #ab37c8;
}

.sidebar a:hover {
    color: #ab37c8;
}


ul li {
	padding-left: 0px;
	text-align: left;
}

ul li a:hover {
    color: #ab37c8;
}
.features	{
	display: inline-block;
	width: 100%;
}
.list-heading	{
	width: 100%;
}
.list-left	{
	width: 100%;
}
.list-left ul li, .list-center ul li, .list-right ul li	{
	font-size: 1em;
	margin-left: 2em;
	margin-top: 0.1em;
}
.list-left ul, .list-center ul, .list-right ul {
	margin-top: .125em;
}


.right	{
	float: right;
	font-size: 1.75rem;
	
	}

.purple-section .list-rigth ul li {
	list-style-type: circle;
	margin-bottom: 15px;
	font-size: 12px;
}
button, .ft-btn .bspace {
	background-color: #39134C; 
	color: #fff;
	}
button:hover, button:focus {
	background-color: #ab37c8; 
	border-radius: 20px;
	}

/*from style.css*/
img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}
.weaving-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("weaver-icons-purple-v4-1.png");
	background-size: cover;
	background-color: #39134C;
	margin-left: 1.5em;
}
.maxbutton-try-out-weaver {
	position:relative;
	padding: 1em 2em;
	vertical-align:middle;
	width:208px;
	height:49px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	border-width:2px;
	background-color:#FFFFFF 
}
a.maxbutton-try-out-weaver  {
	text-decoration: none;
	color: #39134C;
	
}
#content h2 {
    color: #fff;
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
}

.purple-section h4 {
    color: #fff;
    text-transform: none;
	margin-bottom: 0; /*added for home page*/
}

.white-section h4 {
	color: #39134C;

	}




/**
 * 14.0 - >= 400px
 */



	#content {
		margin: -13px 0px;
	}
	.site-content	{
		padding: 0em 0em 0em;
	}
	.site-header {
		padding: 5px 7px 25px;
	}
	.site-header-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.custom-logo {
		max-width: 200px;
	}

	.site-header-main {
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
		}

	.custom-logo .site-header-main {
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
		}
	
	.site-header-menu.toggled-on,
	.no-js .site-header-menu {
		display: block;
}
	.main-navigation {
		margin: -5 -0.5em 0;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;



		text-align: left;
		color: #39134c;
		padding: 1px 0px 0px 0px;
		}
	.site-header .main-navigation + .social-navigation {
			margin-top: 0em;
		}
	.main-navigation .primary-menu,
	.main-navigation .primary-menu > li {
			border: 0;
		}

	.main-navigation .primary-menu > li {
			float: left;
		}

	.main-navigation a {
			outline-offset: -8px;
			padding: 0.65625em 0.875em;
			white-space: nowrap;
	}

	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: #ab37c8;
	}
	.main-navigation ul {
		list-style: none;
	}
	.main-navigation ul ul {
		border-bottom: 1px solid #d1d1d1;
		display: block;
		left: -999em;
		margin: 0;
		position: absolute;
		z-index: 99999;
	}

	.main-navigation ul ul ul {
		top: -1px;
	}

	.main-navigation ul ul ul:before,
	.main-navigation ul ul ul:after {
		border: 0;
	}

	.main-navigation ul ul li {
		background-color: #fff;
		border: 1px solid #d1d1d1;
		border-bottom-width: 0;
	}

	.main-navigation ul ul a {
		white-space: normal;
		width: 12.6875em;
	}

	.main-navigation ul ul:before,
	.main-navigation ul ul:after {
		border-style: solid;
		content: "";
		position: absolute;
	}

	.main-navigation ul ul:before {
		border-color: #d1d1d1 transparent;
		border-width: 0 10px 10px;
		right: 9px;
		top: -9px;
	}

	.main-navigation ul ul:after {
		border-color: #fff transparent;
		border-width: 0 8px 8px;
		right: 11px;
		top: -7px;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: auto;
		right: 0;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}

	.main-navigation .menu-item-has-children > a {
		margin: 0;
		padding-right: 2.25em;
	}

	.main-navigation .menu-item-has-children > a:after {
		content: "\f431";
		position: absolute;
		right: 0.625em;
		top: 0.8125em;
	}

	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	.main-navigation ul ul .menu-item-has-children > a:after {
		right: 0.5625em;
		top: 0.875em;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.dropdown-toggle,
	.main-navigation ul .dropdown-toggle.toggled-on,
	.menu-toggle,
	.site-header .social-navigation,
	.site-footer .main-navigation {
		display: none;
	}



	.entry-title {
		font-size: 16px;
		font-size: 2.75rem;

		margin-top: 1em;
		padding-top: 1.25em;
		margin-left: .5em;
		margin-bottom: .125em;
		background-position: 0% 0%;
		border-width: 50px;
		color: #fff;
		width: 50%;
	}
	.top-banner {
		background-color: #39134c;
		background-image: url("../images/groupimage-logo-300x129.jpg");
		background-repeat: no-repeat;
		background-position: top right;
		background-size:60%;
		min-height:5em;
	}
	.purple-section, .white-section {
		margin-top: 20px;
		padding: 15px 40px;
	}

	.entry-content h2,
	.entry-summary h2,
	.comment-content h2 {
		font-size: 18px;
		font-size: 2.75rem;
		font-style: normal;
		font-weight: 300;

		margin-top: 1em;
		margin-bottom: 1em;
		text-align: left;
		}
	.entry-content h3,
	.entry-summary h3,
	.comment-content h3 {
		font-size: 23px;
		font-size: 1.75rem;

		margin-top: 2.4347826087em;
		margin-bottom: 1.2173913043em;

		text-align: left;
		font-style: normal;
		font-weight: 200;
}

	.entry-content h4,
	.entry-summary h4,
	.entry-intro h4,
	.comment-content h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;


		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;

}
	.content-column.one_third h4 {
		font-size: 1.2rem;

		
	}
	.last_column {
		margin-left: .9%;
	}
	.two_fifth ul {
		padding-left: 1.5em;
	}
	.three_fifth {
		padding-left: 1.5em;
	}
	.content-column.one_third h4 {
		font-size: 1.25rem;

	}
	.entry-header,
	.post-thumbnail,
	.entry-content,
	.entry-summary,
	.entry-footer,
	.comments-area,
	.image-navigation,
	.post-navigation,
	.pagination,
	.page-header,
	.page-content,
	.content-bottom-widgets {
		margin-right: 0;
		margin-left: 0;
	}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;

    text-align: left;
	display: flex;
	margin: .5em 0;
}
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;



    text-align: left;
    padding: 1px 0px; 
    margin-left: 10px;
}

ul { 
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;



    text-align: left;

    margin-left: -5px;
	list-style-image: url(bullet.gif);
	list-style-position: outside;
}
	li {

	}
	.site-footer {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0 4.5455% 3.5em;
	}

	.site-footer .social-navigation {
		margin: 0;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.site-info {
		margin: 0.538461538em auto;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}


	.widecolumn {
		padding-right: 15%;
		padding-left: 15%;
	}








/**

/**
 * 7.0 - Accessibility
 */

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #0f0f0f;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 1.75em 1.75em 0;
	text-align: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */
.updated:not(.published) {
	display: none;
}

.sticky .posted-on,
.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-header {
	border-top: 4px solid #1a1a1a;
	margin: 0 7.6923% 3.5em;
	padding-top: 1.75em;
}

body.error404 .page-header,
body.search-no-results .page-header {
	border-top: 0;
	padding-top: 0;
}

.page-title {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;

}

.taxonomy-description {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;

}

.taxonomy-description p {
	margin: 0.5384615385em 0 1.6153846154em;
}

.taxonomy-description > :last-child {
	margin-bottom: 0;
}

.page-links {
	clear: both;
	font-family: Lato, sans-serif;
	margin: 0 0 1.75em;
}

.page-links a,
.page-links > span {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	height: 1.8461538462em;

	margin-right: 0.3076923077em;
	text-align: center;
	width: 1.8461538462em;
}

.page-links a {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
}

.page-links a:hover,
.page-links a:focus {
	background-color: #39134C;
	border-color: transparent;
	color: #ab37c8;
}

.page-links > .page-links-title {
	border: 0;
	color: #1a1a1a;
	height: auto;
	margin: 0;
	padding-right: 0.6153846154em;
	width: auto;
}

.entry-attachment {
	margin-bottom: 1.75em;
}

.entry-caption {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;

	padding-top: 1.0769230769em;
}

.entry-caption > :last-child {
	margin-bottom: 0;
}

.content-bottom-widgets {
	margin: 0 7.6923%;
}

.content-bottom-widgets .widget-area {
	margin-bottom: 3.5em;
}


/**
 * 11.6 - Footer
 */

.site-footer {
	padding: 0 7.6923% 1.75em;
}

.site-info {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;

}

.site-info a {
	color: #686868;
}

.site-info a:hover,
.site-info a:focus {
	color: #AB37C8;
}

.site-footer .site-title {
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
}

.site-footer .site-title:after {
	content: "\002f";
	display: inline-block;
	font-family: Montserrat, sans-serif;
	opacity: 0.7;
	padding: 0 0.307692308em 0 0.538461538em;
}

