/***********************************************************************
  Begin Global Tag Defs, etc.
***********************************************************************/

body{
  font-family: "PT_Sans", sans-serif;
  font-size:11pt;
  color:black;
  background-color:transparent;
}

.bodyWrapper{
}

img{
  border:0px;
  margin:0px;
  padding:0px;
}


#welcomeMessage{
  font-size:20px;
  text-align:center;
}

#mainContent{
    margin:15px;
}

#mainNavigation{
  float:left;
  top:66px;
}

#weaver-logo-header img {
	margin: 5px;
}

.leftDivContent{
  float: left;
  height:16px;
}
.rightDivContent{
  float: right;
  padding-left: 20px;
  height:16px;
}

.gridTable2{
  margin-top: 0px;
  margin-bottom: 20px;
}
.gridTable2 th{
  font-weight: bold;
  background-color: #4d5888;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
.gridTable2 td{
  height: 30px;
  line-height: 1.3;
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #d9e2f4;
}

.labelButton{
  margin:1px;
  padding:0px 2px;
  font-size:11px;
  color:black;
}

.specCaretBtn {
    width:25px;
    height:18px;
    padding:0px;
    margin-right:5px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.specCaretBtn span {
    margin:0px;
    padding:0px;
}

.generalHeading {
    color:white;
}
.generalSubHeading{
  font-family: Arial, Helvetica, Verdana, sans-serif;
  padding-bottom:0px;
  color:#999;
  font-size:20px;
  font-weight:normal;
}
.paddingTop {
    padding-top:30px;
}

.guideVocal{
  clear:both;
  width:auto;
  border-radius: 8px;
  background-color: #fff;
  background-image: url(./../assets/showTaskDetailDivBase.gif);
  background-position:bottom left;
  background-repeat:repeat-x;
  border: 1px solid #d9e2f4;
  margin-top: 30px;
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #545454;
  margin: 25px;
  padding: 15px;
}