//Customizing styles for Weaver
$primary: #39134C;
$secondary: #672a79;
$tertiary: #AB37C8;
$quaternary: #954c9e;
$danger: #610c0c;
$success: #034603;
$info: #0a0a0a;
$warning: #d69e02;
$light: #fefefe;
$dark: #20082c;

//Custom colors

    $blue: #0563c7;
    $red: #610c0c;
    $green: #034603;
    $yellow: #d19a02;
    $gray: #6c666e;
    $black: #07010a;
    $white: #fefefe;
    $purple: #672a79;
    $pink: #c83798;
    $orange: #bd6604;
    $cyan: #0497d1;
    $lightgreen: #8cca8c;
    $darkgreen: #04330a;
    $lightblue: #7dc7ff;
    $darkblue: #020d6d;
    $lightpurple: #ab37c8;
    $darkpurple: #39134c;
    $lightpink: #e293d5;
    $darkpink: #8f028f;

    

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";


$custom-weaver-colors: (
    "weaverdark": #39134C,
    "weaverlight": #AB37C8,
    "weaverbody": #fefefe,
    "weaverBtnlight": #EEEEEE,
    "weaverBtnDark": #39134C,  
    "weaverFrozen": #e2efff, 
    "lightgreen": #90b990,
    "blue": #0563c7,
    "red": #610c0c,
    "green": #034603,
    "yellow": #f0c85a,
    "gray": #6c666e,    
    "black": #07010a,
    "white": #fefefe,
    "purple": #672a79,
    "pink": #c83798,
    "orange": #bd6604,
    "cyan": #0497d1,
    "darkgreen": #04330a,
    "lightblue": #7dc7ff,
    "darkblue": #020d6d,
    "lightpurple": #ab37c8,
    "darkpurple": #39134c,
    "lightpink": #e293d5,
    "darkpink": #8f028f,
);



    $primary-90: #4d2f5e;
    $primary-80: #614570;
    $primary-70: #755d82;
    $primary-60: #887494;
    $primary-50: #9f8fae;
    $primary-40: #b0a2b7;
    $primary-30: #c3b9c9;
    $primary-20: #d7d1db;
    $primary-10: #ebe7ed;     


    $secondary-90: #774088;
    $secondary-80: #865595;
    $secondary-70: #966aa2;
    $secondary-60: #a47faf;
    $secondary-50: #b394bc;
    $secondary-40: #c3aaca;
    $secondary-30: #d1bfb7;
    $secondary-20: #e1d4e4;
    $secondary-10: #f0e9f1;     



    $tertiary-90: #a05ea8;
    $tertiary-80: #aa70b1;
    $tertiary-70: #b582bb;
    $tertiary-60: #bf94c5;
    $tertiary-50: #caa5ce;
    $tertiary-40: #d5b7d8;
    $tertiary-30: #dfc9e2;
    $tertiary-20: #eadbec;
    $tertiary-10: #f4edf5;      



$primary-100: tint-color($primary, 80%);
$primary-200: tint-color($primary, 60%);
$primary-300: tint-color($primary, 40%);
$primary-400: tint-color($primary, 20%);
$primary-500: $primary;
$primary-600: shade-color($primary, 20%);
$primary-700: shade-color($primary, 40%);
$primary-800: shade-color($primary, 60%);
$primary-900: shade-color($primary, 80%);

$secondary-100: tint-color($secondary, 80%);
$secondary-200: tint-color($secondary, 60%);
$secondary-300: tint-color($secondary, 40%);
$secondary-400: tint-color($secondary, 20%);
$secondary-500: $secondary;
$secondary-600: shade-color($secondary, 20%);
$secondary-700: shade-color($secondary, 40%);
$secondary-800: shade-color($secondary, 60%);
$secondary-900: shade-color($secondary, 80%);



$breadcrumb-divider: ("  >  ");
$breadcrumb-divider-active: ("  >  ");
$breadcrumb-divider-color: #AB37C8;
$breadcrumb-item-color: #fefefe;
$breadcrumb-font-size: .90rem;
$breadcrumb-bg: transparent;
$breadcrumb-margin-bottom: 0;
$breadcrumb-padding-x: 1rem;
$breadcrumb-padding-y: 0;
$breadcrumb-item-padding-x: .5rem;
$breadcrumb-item-color: #AB37C8;

$body-bg: #fefefe;
$body-color: #39134C;
$link-color: $secondary;
$text-decoration-color: #AB37C8;

$sidebar-bg-color: #AB37C8;
$sidebar-text-color: #fefefe;
$sidebar-hover-bg-color: $secondary-50;
$dropdown-margin-left: 0.1rem;

$appbar: 0;

h5, .h5 {
    font-size: calc(1rem + .25vw);
}
h6, .h6 {
    font-size: calc(.75rem + .5vw);
}

[ng\:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
    display: none !important;
  }

a {
    color: $link-color;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
        color: $tertiary;
}
}

.sidebar {
    background-color: $tertiary;
    padding-top: 1rem;

    .nav-link {
        color: $sidebar-text-color;

    &:hover{
        background-color: $sidebar-hover-bg-color;
    }
    
    }
    .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0;
        margin-left: $dropdown-margin-left;
    }
}

.dropdown-toggle::after {
   display: none;
}

.card {
    background-color: $primary-20;
    color: $body-color;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .clipping {
        overflow: hidden;
        text-overflow: clip; 
        border-bottom:1px solid #EEEEEE;
        white-space: nowrap
    }
    .card-body {
        a {
            color: $link-color;
        }

        .spacytable tr td {
        padding:2px;
        }
    }
    .card-header    {
        background-color: $primary-70;
        color: $primary-10;

        a {
            color: $primary-10;
        }
    }
}



.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.planning-mode {
    color: #672978;
    text-align: right;
    position: relative;
    font-weight: 700;

    .planning-mode * {
        box-sizing: border-box;
    }
}


.blankTitle {
    font-size: 130%;
    font-weight: bold;
}
.agendaTitle {
    font-size: 130%;
    padding:5px;
    cursor:pointer;
    border: 3px solid white;
    border-right: none;
}
.agendaTitleSelected {
    font-size: 130%;
    padding:5px;
    border: 3px solid black;
    border-right: none;
    cursor:pointer;
}
.agendaTitle:hover {
    font-size: 130%;
    padding:5px;
    cursor:pointer;
    color:black;
    background-color:skyblue;
}
.spaceyTable tr td {
    vertical-align: top;
}
.spacydiv {
    padding:5px;
}
.votingButton {
    max-width: fit-content;
    padding:2px;
    margin:0px;
    font-size: 130%;
}
.buttonSpacerOff {
    border: 5px solid white;
    padding:5px;
}
.buttonSpacerOn {
    border: 5px solid lightgrey;
    padding:5px;
}
.leftColumn {
    border-right: 1px solid #39134C;
    padding: 0px 5px;
    justify-content: center;
}
.col-fixed {
    flex: 0 0 auto;
    width: 250px !important;
}
.fixed-width {
    width: 250px !important;
}
.fixed-width-sm {
    width: 150px !important;
}
.contentColumn {
    width:100%; 
}

.labelButton {
    padding: 1px 4px;
    overflow: hidden;
    box-shadow: #cccccc 2px 2px 5px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    border: 1px solid $primary-700;
    background-color: #f5f5f5;
    color: $primary;
    font-size: .95rem !important;
    font-weight: 600 !important;
}

.labelButtonAdd {
    padding: 1px 4px;
    overflow: hidden;
    box-shadow: #cccccc 2px 2px 5px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    border: 1px solid $primary;
    background-color: $secondary-10;
    color: $primary;
    font-size: .95rem !important;
    font-weight: 500 !important;
}

.labelColumn {
    padding: 5px;
    overflow: hidden;
    box-shadow: #cccccc 2px 2px 5px;
    border: #4d2f5e 1px solid;
    border-radius: 3px;
    margin: 0px 10px 10px 0px;
    background-color: #f5f5f5;
    color: $secondary;
    font-weight: 600 !important;

    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}
.labelCheck {
    padding: 1px 4px;
    color: $secondary;
    font-size: calc(1rem - 1px);
    font-weight: 600 !important;
    background-color: transparent;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}
.labelText {
    padding: 5px;
    overflow: hidden;
    vertical-align: middle;
}
.agendaItemFull {
    border: 1px solid lightgrey;
    border-radius:10px;
    margin-top:20px;
}
.agendaItemBlank {
    background-color:lightgray;
    margin-top:20px;
}
.stoplight {
    height: 20px;
    width: 20px; 
    margin:0px;    
}

.btn    {
    width: 160px;
    position: unset;
    border-color:#672978;
    color:#39134C;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}
a.btn-primary .btn-primary  {
    width: 160px;
    position: unset;
    border-color:#39134C;
    background-color:#39134C;
    text-decoration: none;
    color:#f5f5f5;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    &:hover {
        background-color: $primary-20;
        color: $primary;
        cursor: pointer;
    }
}
a.btn-secondary .btn-secondary  {
    width: 160px;
    position: unset;
    border-color:#672978;
    background-color:#672978;
    text-decoration: none;
    color:#f5f5f5;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
    
}


.btn-flex {
    width: auto;
    min-width: 75px;
    max-width: 160px;
    background: inherit;
    border-radius: 10px;
    flex-grow: 1;
}
.btn-sm {
    width: fit-content;
    max-width: 160px;
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
    border: #4d2f5e 1px solid;
    border-radius: 10px;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}
.btn-wide {
    width: fit-content;
    flex-grow: 5;
    padding: 5px;
    display: inline-block;
    min-width: max-content;
    text-align: center;
    display: inline-block;
    border: #4d2f5e 1px solid;
    border-radius: 10px;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}
.btn.btn-tiny {
    width: 30px;
    height: 30px;
    min-width: 30px;
    max-width: 30px;
    flex-grow: 1;
    padding: 0px;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}

.btn-tiny {
    width: 30px;
    height: 30px;
    min-width: 30px;
    max-width: 30px;
    border: $primary 1px solid;
    border-radius: 10px;
    position: unset;
    
    font-size: .9rem;
    font-weight: 500;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}
.fixed-width-xs {
    width: 30px !important;
    
}
.specCaretBtn {
    width: 25px;
    height: 25px;
    padding: 0px !important;
    margin-left: 0px !important;
    background-image: none;
    border: 1px solid $secondary;
    border-radius: 8px;
    color: $secondary;
    background-color: #fff;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
    .dropdown-toggle::after {
        margin-left: 0px !important;
    }
}
.specCaretBtn span {
    margin: 0px;
    padding: 0px;
}
.clickable:hover {
    cursor:pointer;
    background-color:#DDEEFF;
}
.clickable {
    cursor:pointer;
}
.custom-modal-window-top {
    margin-top: 100px;
}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    &:hover {
        background-color: $secondary-20;
        color: $primary;
        cursor: pointer;
    }
}

.learningBox {
    width: 1000px;
    #background-color: #DBEEF9;
    background-color: white;
    border: 2px solid #360a47;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .btn {
        min-width: 160px;
        max-width: fit-content;
    }
}
.learningTitle {
    font-size: 30px;
    margin: 0px;
    font-weight: 300;
    color: skyblue;
}
.learningInfo {
    width:600px;
    margin: 20px;
    float: left;
}
.learningVideo {
    margin: 20px;
    float: right;
}
.learningButton {
    margin: 20px;

}
.learningBtn {
    min-width: 160px;
    max-width: fit-content;
    background-color: $primary-20;
    color: $primary;
    border: $primary, solid, 1px;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

    &:hover {
        background-color: $primary-30;
        color: $primary;
        cursor: pointer;

}
}
.accordion-button:not(.collapsed) { 
    color:$primary !important; 
    font-size: 1.2rem;
    font-weight: 700;
    background-color: $primary-50 !important;
}
.accordion-header {
    color:$primary;
    background-color: $primary-30;
}
.accordion-button {
    color:$primary;
    font-size: 1.1rem;
    font-weight: 500;

    a {
        color:$primary;
    }
}
.accordion-item .collapsed {
    background-color: $primary-40;
}

.accordion-item.active .accordion-content {
    display: block;
}
.accordionAssets {
    .accordion-item .collapsed {
        background-color: $primary-40;

    }
    .accordion-button:not(.collapsed) { 
        color:$primary !important; 
        font-size: 1rem;
        font-weight: 500;
        background-color: $primary-200 !important;
    }
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well .btn-raised {
    margin: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.description-container {
    display: inline-flex;
    align-items: center;
}
.description-container h4 {
    margin-right: 10px;
}
//From main.min.css

.doubleClickHint {
    background-color:transparent;
    color:$primary-70;
    font-style: italic;
    padding:4px;
    max-width:400px
}
.btn-comment {
    background-color: $primary-20;
    color: $primary;
    border: $primary, solid, 1px;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    border-radius: 8px;
    box-shadow: #cccccc 2px 2px 5px;
    &:hover {
        background-color: $primary-30;
        color: $primary;
        cursor: pointer;
    }
}

a.btn-comment {
    background-color: $primary-20;
    color: $primary;
    border: $primary, solid, 1px;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    border-radius: 8px;
    box-shadow: #cccccc 2px 2px 5px;
    text-decoration: none;
    &:hover {
        background-color: $primary-30;
        color: $primary;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
      height:fit-content;

    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
    }
  }

.btn-startTime {
    background-color: $green;
    color: $primary-10;
    border: $darkgreen, solid, 1px;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
    box-shadow: #cccccc 2px 2px 5px;
    min-width: 150px;
    &:hover {
        background-color: $green-100;
        color: $green;
        cursor: pointer;
    }
}

.btn-endTime {
    background-color: $red;
    color: $primary-10;
    border: $dark, solid, 1px;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    border-radius: 8px;
    box-shadow: #cccccc 2px 2px 5px;
    min-width: 150px;
    &:hover {
        background-color: $red-100;
        color: $red;
        cursor: pointer;
    }
}

.button {
    .btn {
        background-color: inherit;
    }
    
    .btn-small {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        border-radius: 1rem;
        border: $secondary solid 3px;
    }
    
}

foreignObject {
    font-size: .9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}
.text-ellipsis {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-dropdown-menu {
    max-width: 380px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.label-dropdown-item {
    flex: 1 1 auto;
    white-space: normal;
    width: calc(50% - 1rem);
}

.comment-state-complete {
    background-color: $secondary-20;
}
.comment-outer {
    border: $secondary-60 solid 1px;
    background-color: $secondary-10;
    border-radius: 8px;
    margin-top: 5px;  
    cursor: pointer;
}
.comment-inner {
        padding: 2px;
        border-radius: 8px;
        border: $secondary-60 solid 1px;
        background-color: white;
    }
.nicenice {
        border: 2px dashed #bbb;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font: 20pt bold Georgia,Tahoma,sans-serif;
        color: #bbb;
        margin-bottom: 20px;
        width:500px;
    }
.decisionDate {
    font-weight: bold;
    color: #4d2f5e;
    font-style: italic;
}
//from MeetingHtml.jsp

.blankTitle {
    font-size: 130%;
    font-weight: bold;
}
.agendaTitle {
    font-size: 130%;
    padding:5px;
    cursor:pointer;
    border: 3px solid white;
    border-right: none;
}
.agendaTitleSelected {
    font-size: 130%;
    padding:5px;
    border: 3px solid black;
    border-right: none;
    cursor:pointer;
}
.agendaTitle:hover {
    font-size: 130%;
    padding:5px;
    cursor:pointer;
    color:black;
    background-color:skyblue;
}
.spaceyTable tr td {
    padding:5px;
    margin: 5px;
    border: none;
    
}
.spacydiv {
    padding:5px;
}
.votingButton {
    padding:2px;
    margin:0px;
    font-size: 130%;
}
.buttonSpacerOff {
    border: 5px solid white;
    padding:5px;
}
.buttonSpacerOn {
    border: 5px solid lightgrey;
    padding:5px;
}
.form-control {
    padding: 0;
    margin: 0;
    background-color: white !important;
    border: grey solid 1px !important;
}
.form-control-sm {
    padding: 0;
    margin: 0;
}
.form-check-input   {
    border-color: #20082c !important;
    cursor: pointer;
}
.timers {
    border: $secondary solid 1px;
    min-width: 350px;
    max-width: 415px;
    border-radius: 3px;
    background-color: $primary-10;
    padding: 5px;
    margin: 5px;
    .btn {
        color: inherit;
        font-size: 1rem;
        font-weight: 400;
        border: none;
    }
    .btn-sm {
            background-color: inherit;
            color: $primary;
            font-size: 1rem;
            border: $primary solid 1px;
            border-radius: 5px;

    }
}
.btn-success {
        color: #fff !important;
        background-color: #034603 !important;
        border-color        : #034603 !important;
        box-shadow           : inset 0 3px 0 rgba(255, 255, 255, 0.15), 0 3px 3px rgba(0, 0, 0, 0.075); 

    &:hover {
        background-color: $primary-10;
        color: $primary;
    }
}
        .nav-link {
            border: $secondary solid 1px;
            border-radius: 3px;
            background-color: $primary;
            padding: 5px 10px;
            margin-top: 10px;
            margin-bottom:  0px;
            color: $primary-10;
            font-size: 1rem;
            font-weight: 400;
            
            &:hover {
                background-color: "weaverbody";
                color: "weaverdark";
            }
        }
        
.text-secondary {
    color: $primary-60 !important;
}

.form-control {
    .check  {
    height: 25px;
    width: 25px;
}
}

.page-name{
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-70;
    margin: .5em;
}

.timerStyleComplete {
    color: $primary-60;
    font-weight: 600;
    font-size: .65rem;
    margin-left: 3px;
    margin-bottom: 0px;
}

.mainPageTitle {
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-70;
    margin: 2em;
}

.modal {
    position: fixed;
    top: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-backdrop {
    &:fade   {
        opacity: 0.5;
    } 
}
.modal-header {
    border-bottom: $secondary solid 1px;
    padding: 0;
    
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    color: $primary;
    background-clip: padding-box;
    border: $secondary solid 1px;
    padding: 0px;
    margin: 0px;
    border-radius: 0.3rem;
    opacity: 1;
}
.fade {  
    &:not(.show) {
      opacity: 1;
    }
  }
.nav-item {
    list-style-type: none;
}
.text-red-emphasis {
    color: #b10303 !important;
    font-style: italic;

}

$vertical-align-classes: (
        property: vertical-align,
        class: align,
        values: (
            top: top,
            middle: middle,
            bottom: bottom
        )
    );

$enable-gradients: true;
$enable-shadows: false;
$enable-rounded: false;
$enable-grid-classes: true;




// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-weaver-colors);



//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

