.white-section	{
	background-color: #fff;
	color:#39134c;
	padding: 15px 45px;
    min-height: 400px;
	}
.purple-section	{
	background-color: #39134C; 
	color:#fff;
	padding: 15px 45px;
    min-height: 400px;
	}



h1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: left;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 200;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: left;
}
body {
    background-color:white;
	color: #39134C;
    font-family: 'PT Sans', sans-serif;
}
a {
	text-decoration: none;
}
.purple-section a {
	color: white;
	text-decoration: none;
}
.purple-section td {
	color: white;
}
.mainMenu {
    background-color: white;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
    border: 0px solid white;
}
.mainMenu:hover {
    background-color: #AB37C8;
}

table tr {
    margin: 15px;
}
table tr th {
    padding: 15px;
    vertical-align: top;
    margin: 15px;
}
table tr td {
    padding: 15px;
    vertical-align: top;
    margin: 15px;
}

.tutorialThumbnail {
    border-radius:15px;
    box-shadow: 5px 5px 5px gray;
}

.purple-section .tutorialThumbnail {
    border-radius:15px;
    box-shadow: 5px 5px 5px black;
}













