.mainContentDiv {
    padding:30px;
    max-width:800px
}

.standardFooter {
    width:100%;
    background-color:#3e0656;
    background-color:white;
    padding:10px;
    margin-top:50px;
    padding-bottom:20px;
    margin-bottom:1em;
}
.standardMenu {
    width:100%;
    background-color:white;
    padding:10px;
    padding-bottom:20px;
}

body,
blockquote cite,
blockquote small,
.main-navigation a,
.menu-toggle,
.dropdown-toggle,
.social-navigation a,
.post-navigation a,
.pagination a:hover,
.pagination a:focus,
.widget-title a,
.site-branding .site-title a,
.entry-title a,
.page-links > .page-links-title,
.comment-author,
.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
    color: #39134C
}

blockquote,
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus,
.post-navigation,
.post-navigation div + div,
.pagination,
.widget,
.page-header,
.page-links a,
.comments-title,
.comment-reply-title {
    border-color: #000000;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus,
.pagination:before,
.pagination:after,
.pagination .prev,
.pagination .next,
.page-links a {
    background-color: #000000;
}

/* Border Color */
fieldset,
pre,
abbr,
acronym,
table,
th,
td,
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.main-navigation li,
.main-navigation .primary-menu,
.menu-toggle,
.dropdown-toggle:after,
.social-navigation a,
.image-navigation,
.comment-navigation,
.tagcloud a,
.entry-content,
.entry-summary,
.page-links a,
.page-links > span,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.comment-reply-link,
.no-comments,
.widecolumn .mu_register .mu_alert {
    border-color: #000000; /* Fallback for IE7 and IE8 */
    border-color: rgba( 0, 0, 0, 0.2);
}

body {
    background-color:white;
	color: #39134C;
}
a, a:focus {
    color: #DEA4F2;
}
a:hover {
    color: white;
}
button {
    background-color: #AB37C8;
    color: white;
    margin:10px;
    border:1px black solid
}
button:hover {
    background-color: #AB37C8;
    color: black;
}
button:hover a {
    background-color: #AB37C8;
    color: black;
}
p a, li a {
	color: #fff;
	text-decoration: underline;
}
p a:hover, p a:focus, li a:hover, li a:focus {
	color: #dea4f2;
	text-decoration: underline;
}
a, a:focus {
	color: transparent;
}
hr,
code {
    background-color: #000000; /* Fallback for IE7 and IE8 */
    background-color: rgba( 0, 0, 0, 0.2);
}

@media screen and (min-width: 56.875em) {
    .main-navigation ul ul,
    .main-navigation ul ul li {
        border-color: rgba( 0, 0, 0, 0.2);
    }

    .main-navigation ul ul:before {
        border-top-color: rgba( 0, 0, 0, 0.2);
        border-bottom-color: rgba( 0, 0, 0, 0.2);
    }
}

.site-branding {
    margin: 0 auto 0 20px;
}

.site-branding .site-title,
.site-description {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}


body.custom-background {
    background-color: #39134C;
}
.white-section	{
	background-color: #fff;
	color:#39134c; 
	height: auto;
	width: 100%; 
	padding: 25px 75px
	}
.purple-section	{
	background-color: #39134C; 
	color:#fff; 
	height: auto;
	width: 100%; 
	margin-left:0px;
	padding: 25px 75px;
	}
h1 {
    font-family: 'Roboto', sans-serif; 
    font-size:55px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .9px;
    text-align: left;
    color: #fff;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
	margin: 15px 0px;
    line-height: 1.09;
    letter-spacing: .9px;
    text-align: left;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.92;
    letter-spacing: 1.6px;
    text-align: left;
}
.purple-section h4 {
    color: #fff;
    text-transform: none;
	margin-bottom: 0; /*added for home page*/
}
.white-section h4 {
	color: #39134C;
	text-transform: uppercase;
	margin-left: 15px;
	}
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    line-height: 2.53;
    letter-spacing: .5px;
    text-align: left;
    color: #fff;
}
#content h2 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
}
#content 	{
	margin: -30px 0;
}
.site-header-menu {
	margin: -.5em 0px 0px 5em;
	padding: 0 5px 10px
}
.site-header-menu {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.main-navigation a:hover {
    color: #ab37c8;
}


.main-navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
	font-weight: bold;
    line-height: 2.53;
    letter-spacing: 1.5px;
    text-align: left;
    color: #39134c;
}
.main-navigation .primary-menu,
.main-navigation .primary-menu > li {
		border: 0;
	}

.main-navigation .primary-menu > li {
		float: left;
	}

.main-navigation a {
		outline-offset: -8px;
		padding: 0.65625em 0.875em;
		white-space: nowrap;
	}

	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: #ab37c8;
	}

	.main-navigation ul ul {
		border-bottom: 1px solid #d1d1d1;
		display: block;
		left: -999em;
		margin: 0;
		position: absolute;
		z-index: 99999;
	}

	.main-navigation ul ul ul {
		top: -1px;
	}

	.main-navigation ul ul ul:before,
	.main-navigation ul ul ul:after {
		border: 0;
	}

	.main-navigation ul ul li {
		background-color: #fff;
		border: 1px solid #d1d1d1;
		border-bottom-width: 0;
	}

	.main-navigation ul ul a {
		white-space: normal;
		width: 12.6875em;
	}

	.main-navigation ul ul:before,
	.main-navigation ul ul:after {
		border-style: solid;
		content: "";
		position: absolute;
	}

	.main-navigation ul ul:before {
		border-color: #d1d1d1 transparent;
		border-width: 0 10px 10px;
		right: 9px;
		top: -9px;
	}

	.main-navigation ul ul:after {
		border-color: #fff transparent;
		border-width: 0 8px 8px;
		right: 11px;
		top: -7px;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: auto;
		right: 0;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}

	.main-navigation .menu-item-has-children > a {
		margin: 0;
		padding-right: 2.25em;
	}

	.main-navigation .menu-item-has-children > a:after {
		content: "\f431";
		position: absolute;
		right: 0.625em;
		top: 0.8125em;
	}

	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	.main-navigation ul ul .menu-item-has-children > a:after {
		right: 0.5625em;
		top: 0.875em;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
.entry-title a:hover,
.entry-title a:focus {
    color: #ab37c8;
}

.page-links a:hover,
.page-links a:focus {
    background-color: #007acc;
    border-color: transparent;
    color: #ab37c8;
}

.sidebar a:hover {
    color: #ab37c8;
}

h1 {
    margin: 0px;
    
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.75;
    letter-spacing: 0.4px;
    text-align: left;
    padding: 1px 0px; 
    margin-left: 50px;
}

.main-navigation a:hover {
        color: #ab37c8;
}

.main-navigation {
    margin: -0px 0px 0px 0px;
    padding: 0px 0px 33px 0px;
}
.main-navigation ul{
    list-style: none;
	font-size: 18px;
}
h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 30px 0px 0px;
}
h4 {
	margin-top: 5px;
	margin-bottom: 5px;
		
}
.alignleft h2 {
		margin-left: 150px
	}

ul { 
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 1.55;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 0px; 
    margin: 1em 0 0 2em;


}
.purple0section ul li {
	list-style: disc;	
	display: list-item;
}

.white-section ul li {
	padding-left: 0px;
	list-style: disc;
	margin-bottom: 6px;
	text-align: left;
	color: #39134c;
}
.purple-section ul li {
	padding-left: 0px;
	list-style: disc;
	margin-bottom: 6px;
	text-align: left;
	color: #fff;
}
ul li a:hover {
    color: #ab37c8;
}
.features	{
		display: grid;
		grid-template-columns:350px 350px 500px;
	}
/*.links ul li a	{
		margin-left: 50px;
		color: #fff;	
	}
.links ul li a:hover, .links ul li a:focus	{
		color: rgb(171 55 200);	
	}*/
.list-left ul li, .list-center ul li, .list-right ul li	{
	font-size: 20px;
	margin-left: 2em;
	margin-top: 0.2em;
}
.list-left ul, .list-center ul, .list-right ul {
	margin-top: .125em;
}


.right	{
	float: right;
	font-size: 30px;
	
	}

.purple-section .list-rigth ul li {
	list-style-type: circle;
	margin-bottom: 15px;
	font-size: 12px;
}
button, .ft-btn .bspace {
	background-color: #39134C; 
	}
button:hover, button:focus {
	background-color: #ab37c8; 
	border-radius: 20px;
	}