
<div class="modal-header">
    <h3 class="modal-title">Edit Action Item</h3>
</div>
<div class="modal-body">
    <div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="synopsis">Synopsis:</label>
            <input ng-model="goal.synopsis" class="form-control" placeholder="Enter synopsis"/>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea ng-model="goal.description" class="form-control" placeholder="Enter description"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <textarea ng-model="goal.status" class="form-control" placeholder="Enter status"></textarea>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="labels">Labels:</label>
            <span class="dropdown" ng-repeat="role in allLabels">
                <button class="labelButton" type="button" id="menu2"
                   data-toggle="dropdown" style="background-color:{{role.color}};"
                   ng-show="hasLabel(role.name)">{{role.name}}</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                   <li role="presentation"><a role="menuitem" title="{{add}}"
                      ng-click="toggleLabel(role)">Remove Label:<br/>{{role.name}}</a></li>
                </ul>
            </span>
            <span class="dropdown">
               <button class="btn btn-sm btn-primary btn-raised labelButton" 
                   type="button" 
                   id="menu1" 
                   data-toggle="dropdown"
                   title="Add Label"
                   style="padding:5px 10px">
                   <i class="fa fa-plus"></i></button>
               <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" 
               style="width:320px;left:-130px">
                 <li role="presentation" ng-repeat="rolex in allLabels" style="float:left">
                     <button role="menuitem" tabindex="-1" ng-click="toggleLabel(rolex)" class="labelButton" 
                     ng-hide="hasLabel(rolex.name)" style="background-color:{{rolex.color}}">
                         {{rolex.name}}</button>
                 </li>
               </ul>
            </span>
        </div>
        <div class="form-group">
            <label for="duedate">Due Date:</label>
            <span class="dropdown-toggle form-control" id="dropdown2" role="button" 
                data-toggle="dropdown" ng-show="goal.duedate>1000000" data-target="#">
                {{ goal.duedate | date:'dd-MMM-yyyy' }} 
                &nbsp;at&nbsp; {{ goal.duedate | date:'HH:mm' }}
                &nbsp; &nbsp; {{tzIndicator}}
            </span>
            <span class="dropdown-toggle form-control" id="dropdown2" role="button" 
                data-toggle="dropdown" ng-show="goal.duedate<=1000000" data-target="#">
                not set
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker
                    data-ng-model="goal.duedate"
                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minuteStep: 15,minView:'hour'}"
                    data-on-set-time="onTimeSet(newDate, 'duedate')"/>
            </ul>                
        </div>
        <div class="form-group">
            <label for="startdate">Start Date:</label>
            <span class="dropdown-toggle form-control" id="dropdown3" role="button" 
                data-toggle="dropdown" ng-show="goal.startdate>1000000">
                {{ goal.startdate | date:'dd-MMM-yyyy' }} 
                &nbsp;at&nbsp; {{ goal.startdate | date:'HH:mm' }}
                &nbsp; &nbsp; {{tzIndicator}}
            </span>
            <span class="dropdown-toggle form-control" id="dropdown3" role="button" 
                  data-toggle="dropdown" ng-show="goal.startdate<=1000000">
                not set
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker
                    data-ng-model="goal.startdate"
                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3',minuteStep: 15,minView:'hour'}"
                    data-on-set-time="onTimeSet(newDate, 'startdate')"/>
            </ul>                
        </div>
        <div class="form-group">
            <label for="enddate">End Date:</label>
            <span class="dropdown-toggle form-control" id="dropdown4" role="button" 
                data-toggle="dropdown" ng-show="goal.enddate>1000000 && goal.state==5">
                {{ goal.enddate | date:'dd-MMM-yyyy' }} 
                &nbsp;at&nbsp; {{ goal.enddate | date:'HH:mm' }}
                &nbsp; &nbsp; {{tzIndicator}}
            </span>
            <span class="dropdown-toggle form-control" id="dropdown4" data-toggle="dropdown"  
                  role="button" ng-show="goal.enddate<=1000000 && goal.state==5">
                not set
            </span>
            <span class="dropdown-toggle form-control" 
                  ng-show="goal.state!=5">
                set end date after action item completed
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker
                    data-ng-model="goal.enddate"
                    data-datetimepicker-config="{ dropdownSelector: '#dropdown4',minuteStep: 15,minView:'hour'}"
                    data-on-set-time="onTimeSet(newDate, 'enddate')"/>
            </ul>                
        </div>
        <div style="float:right">
            <button class="btn btn-primary btn-raised" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
      
    </div>
</div>
<div >
            
</div>
<div class="modal-footer">
</div>
