
<div class="modal-header">
    <button class="btn">Edit Agenda Item</button>
    <button class="btn btn-default btn-raised" ng-click="descriptMode=false">Settings</button>
    <button class="btn btn-default btn-raised" ng-click="descriptMode=true">Description</button>
</div>
<div class="modal-body" style="min-height:300px">
    <div ng-hide="descriptMode">
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="labels">Name of Agenda Item:</label>
            <input ng-model="agendaItem.subject"  class="form-control" style="max-width:400px;"
                       placeholder="Enter Agenda Item Name"/>
        </div>
        <div class="form-group">
            <label for="labels">Duration: (minutes)</label>
            <input ng-model="agendaItem.duration"  class="form-control" style="width:100px;"
                       placeholder="Enter Agenda Item Name"/>
        </div>
        <div class="form-inline form-group" ng-hide="agendaItem.topicLink">
                <input type="checkbox"  ng-model="agendaItem.isSpacer"
                         class="form-control" style="width:50px;"/>
                This is a break time
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
       <div class="form-group">
            <label for="labels">Presenter:</label>
            <tags-input ng-model="agendaItem.presenterList"
                      placeholder="Enter user name or id"
                      display-property="name" key-property="uid">
                <auto-complete source="getPeople($query)"></auto-complete>
            </tags-input>
        </div>
      </div>
    </div>
    <div ng-show="descriptMode">
        <div ng-model="agendaItem.desc" ui-tinymce="tinymceOptions"></div>
    </div>
            
</div>
<div class="modal-footer">
    <div style="float:right">
        <button class="btn btn-primary btn-raised" type="button" ng-click="ok()">Save</button>
        <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
