<style>
  .docTable {
      width:100%;
  }
  .docTable tr td {
      padding:2px;
  }
  .docTable tr td button {
      height:25px;
      width:25px;
      padding:2px;
      margin:2px;
  }
</style>

<div class="modal-header">
    <h3 class="modal-title" style="float:left">Attach Action Items</h3>
      <button ng-click="createMode=true" class="btn btn-default" style="float:right;margin-right:15px;">
          Create New Action Item
      </button>
      <button ng-click="createMode=false" class="btn btn-default" style="float:right;margin-right:15px;">
          Pick Existing Action Items
      </button>
    <div style="clear: both"></div>
</div>
<div class="modal-body">
   <div ng-hide="createMode">
      <div> 
          Filter <input type="text" ng-model="realFilter"> 
      </div>
      <table style="width:100%"><tr>
      <td style="width:50%;vertical-align:top;padding:20px;">
        <div style="max-height:400px;overflow: auto">
          <table class="docTable">
            <tr>
               <td colspan="4">

               </td>
            </tr>
            <tr ng-repeat="act in filterActions()">
                <td> <img src="../../../assets/goalstate/small{{act.state}}.gif"> {{act.synopsis | limitTo:50}} </td>
                <td>
                    <button ng-click="addActionToList(act)" ng-hide="itemHasAction(act)"
                        class="btn" >&nbsp; <i class="fa fa-arrow-right"></i></button>
                    <button  ng-show="itemHasAction(act)"
                        class="btn">&nbsp; &nbsp;</button>
                </td>
            </tr>
          </table>
        </div>
      </td>
      <td style="width:50%;vertical-align:top;padding:20px;">
        <div style="max-height:400px;overflow: auto">
          <table class="docTable">
            <tr ng-repeat="act in itemActions()">
                <td> <img src="../../../assets/goalstate/small{{act.state}}.gif"> {{act.synopsis | limitTo:50 }} </td>
                <td>
                    <button ng-click="removeActionFromList(act)"
                        class="btn"><i class="fa fa-close"></i> &nbsp;</button>
                </td>
            </tr>
          </table>
        </div>
      </td>
      </tr>
      </table>
   </div>
   <div ng-show="createMode">
        <div >
            <table>
               <tr>
                    <td class="gridTableColummHeader">Synopsis:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <input type="text" ng-model="newGoal.synopsis" class="form-control" placeholder="What should be done">
                    </td>
               </tr>
               <tr><td style="height:10px"></td></tr>
               <tr>
                    <td class="gridTableColummHeader">Assignee:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <input type="text" ng-model="newGoal.assignee" class="form-control" placeholder="Who should do it"
                           typeahead="person as person.name for person in getPeople($viewValue) | limitTo:12">
                    </td>
                </tr>
                <tr><td style="height:10px"></td></tr>
                <tr>
                    <td class="gridTableColummHeader">Description:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <textarea type="text" ng-model="newGoal.description" class="form-control"
                            style="width:450px;height:100px" placeholder="Details"></textarea>
                    </td>
                </tr>
                <tr><td style="height:10px"></td></tr>
                <tr>
                    <td class="gridTableColummHeader">Due Date:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <input type="text"
                            style="width:150;margin-top:10px;"
                            class="form-control"
                            datepicker-popup="dd-MMMM-yyyy"
                            ng-model="dummyDate1"
                            is-open="datePickOpen1"
                            min-date="minDate"
                            datepicker-options="datePickOptions"
                            date-disabled="datePickDisable(date, mode)"
                            ng-required="true"
                            ng-click="openDatePicker1($event)"
                            close-text="Close"/>
                    </td>
                </tr>
            </table>
        </div>
   </div>
   <div style="clear: both"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-hide="createMode"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-primary" ng-show="createMode"
        type="button" ng-click="createActionItem()">Create Action Item</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">
        Cancel</button>
</div>
