<style>
.docTable {
    width:100%;
}
.docTable tr td {
    padding:2px;
}
.docTable tr td button {
    height:25px;
    width:25px;
    padding:2px;
    margin:2px;
}
.spaceyTable tr td {
    padding:5px;
}
</style>


<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-click="selectedTab='Existing'" 
          ng-class="selectedTab=='Existing'?'qqTabSelected':'qqTabUnselected'">
    Attach/Remove Existing Action Items
    </span>
    <span ng-click="selectedTab='Create'"  
          ng-class="selectedTab=='Create'?'qqTabSelected':'qqTabUnselected'">
    Create New Action Item
    </span>
  </div>
</div>
<div class="modal-body">
   <div ng-show="selectedTab=='Existing'">
      <table style="width:100%"><tr>
      <td style="width:50%;vertical-align:top;padding:10px;"
          title="This is a list of the existing action items in the workspace that are available to be attached.">
        <div class="sBoxTop"> 
          Existing Action Items - Filter <input type="text" ng-model="realFilter"> 
        </div>
        <div class="sBoxMain">
          <table class="docTable">
            <tr ng-repeat="act in filterActions()" ng-click="addActionToList(act)" 
                title="click to add this action item to the list" style="cursor:pointer">
                <td> <img ng-src="../../../assets/goalstate/small{{act.state}}.gif"> {{act.synopsis | limitTo:50}} </td>
                <td>
                    <button ng-hide="itemHasAction(act)"
                        class="btn" >&nbsp; <i class="fa fa-arrow-right"></i></button>
                    <button  ng-show="itemHasAction(act)"
                        class="btn">&nbsp; &nbsp;</button>
                </td>
            </tr>
            <tr ng-show="filterActions().length==0">
                <td class="instruction">No action items to choose from.<br/><br/>
                Use 'Create New Action' above.</td>
            </tr>
         </table>
        </div>
      </td>
      <td style="width:50%;vertical-align:top;padding:10px;"
          title="This is a list of the action items that have been seleted and are attached, if any.">
        <div class="sBoxTop"> 
          Chosen Action Items
        </div>
        <div class="sBoxMain">
          <table class="docTable">
            <tr ng-repeat="act in itemActions()" ng-click="removeActionFromList(act)" 
                title="Click to remove this action item from the list"  style="cursor:pointer">
                <td> <img ng-src="../../../assets/goalstate/small{{act.state}}.gif"> {{act.synopsis | limitTo:50 }} </td>
                <td>
                    <button 
                        class="btn"><i class="fa fa-close"></i> &nbsp;</button>
                </td>
            </tr>
            <tr ng-show="itemActions().length==0">
                <td class="instruction">No actions items attached.<br/><br/>
                <span ng-show="filterActions().length>0">Click on an action item on the left, to add to the list here on the right.</span></td>
            </tr>
          </table>
        </div>
      </td>
      </tr>
      </table>
   </div>
   <div ng-show="selectedTab=='Create'">
        <div >
            <table class="spaceyTable">
               <tr>
                    <td class="gridTableColummHeader">Synopsis:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <input type="text" ng-model="newGoal.synopsis" class="form-control" placeholder="What should be done">
                    </td>
               </tr>
                <tr>
                    <td class="gridTableColummHeader">Assignee:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                      <tags-input ng-model="newGoal.assignTo" placeholder="Enter user name or id"
                                  display-property="name" key-property="uid" on-tag-clicked="showUser($tag)">
                          <auto-complete source="loadPersonList($query)" min-length="1"></auto-complete>
                      </tags-input>
                    </td>
                </tr>
                <tr>
                    <td class="gridTableColummHeader">Description:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <textarea type="text" ng-model="newGoal.description" class="form-control markDownEditor"
                            style="width:450px;height:100px" placeholder="Details"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="gridTableColummHeader">Due Date:</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                        <span datetime-picker ng-model="newGoal.dueDate"  
                            class="form-control" style="max-width:300px">
                            {{newGoal.dueDate|date:"dd-MMM-yyyy   '&nbsp; at &nbsp;'  HH:mm  '&nbsp;  GMT'Z"}}
                        </span> 
                        <!--input type="text"
                            style="width:150;margin-top:10px;"
                            class="form-control"
                            datepicker-popup="dd-MMMM-yyyy"
                            ng-model="dummyDate1"
                            is-open="datePickOpen1"
                            min-date="minDate"
                            datepicker-options="datePickOptions"
                            date-disabled="datePickDisable(date, mode)"
                            ng-required="true"
                            ng-click="openDatePicker1($event)"
                            close-text="Close"/-->
                    </td>
                </tr>
            </table>
        </div>
   </div>
   <div style="clear: both"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-raised" ng-hide="selectedTab=='Create'"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-primary btn-raised" ng-show="selectedTab=='Create'"
        type="button" ng-click="createActionItem()">Create Action Item</button>
    <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">
        Cancel</button>
</div>
