<style>
  .docTable {
      width:100%;
  }
  .docTable tr td {
      padding:2px;
  }
  .docTable tr td button {
      height:25px;
      width:25px;
      padding:2px;
      margin:2px;
  }

.lvl-over {
    background-color: lawngreen;
}

</style>

<div class="modal-header">
    <h3 class="modal-title" style="float:left">Attach Documents</h3>
    <div style="clear: both"></div>
</div>
<div class="modal-body {{greenOnDrag()}}"  style="min-height:300px" 
    ondragover="window.MY_SCOPE.dragIn(event)"
    ondragleave="window.MY_SCOPE.dragOut(event)"
    ondrop="window.MY_SCOPE.dragDrop(event)">
   <div ng-hide="uploadMode">
      <div> Filter <input type="text" ng-model="realDocumentFilter"> </div>
      <table style="width:100%"><tr>
      <td style="width:50%;vertical-align:top;padding:20px;">
        <div style="max-height:400px;overflow: auto">
          <table class="docTable">
            <tr ng-repeat="doc in filterDocs()" ng-click="addDocToItem(doc)" style="cursor:pointer" 
                title="Click to add document to the list.">
                <td >
                    <img src="../../../assets/images/iconFile.png"/> {{doc.name|limitTo:40}} </td>
                <td>
                    <button ng-hide="itemHasDoc(doc)"
                        class="btn" >&nbsp; <i class="fa fa-arrow-right"></i></button>
                    <button  ng-show="itemHasDoc(doc)"
                        class="btn" title="Document is already added.">&nbsp; &nbsp;</button>
                </td>
            </tr>
            <tr ng-show="filterDocs().length==0">
                <td class="instruction">No documents to choose from.<br/><br/>Drag and drop a document to upload.</td>
            </tr>
          </table>
        </div>
      </td>
      <td style="width:50%;vertical-align:top;padding:20px;">
        <div style="max-height:400px;overflow: auto">
          <table class="docTable">
            <tr ng-repeat="doc in itemDocs()" ng-click="removeDocFromItem(doc)" 
                title="Click to remove document from list." style="cursor:pointer">
                <td >
                    <img src="../../../assets/images/iconFile.png"/> {{doc.name|limitTo:40}} </td>
                <td>
                    <button class="btn"><i class="fa fa-close"></i> &nbsp;</button>
                </td>
            </tr>
            <tr ng-show="itemDocs().length==0">
                <td class="instruction">Nothing attached.<br/><br/>
                <span ng-show="filterDocs().length>0">Click on a document on the left, to add to the attachments listed here on the right.</span></td>
            </tr>
          </table>
        </div>
      </td>
      </tr>
      </table>
    </div>
    <div id="TheNewDocument" ng-show=uploadMode>
        <div>
            <table>
                <tr>
                    <td class="gridTableColummHeader"></td>
                    <td style="width:20px;"></td>
                    <td>
                        <div ng-repeat="fp in fileProgress" class="well" style="min-width:400px;">
                          <div >
                              <div style="float:left;"><b>{{fp.file.name}}</b></div>

                              <div style="float:right;">{{fp.status}}</div>
                              <div style="clear:both;"></div>
                          </div>
                          <div ng-hide="fp.done">
                             Description:<br/>
                             <textarea ng-model="fp.description" class="form-control"></textarea>
                          </div>
                          <div style="padding:3px;" ng-hide="fp.done">
                              <div style="text-align:center">{{fp.status}}:  {{fp.loaded|number}} of {{fp.file.size|number}} bytes</div>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar"
                                       aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                       style="width:{{fp.percent}}%">
                                  </div>
                              </div>
                          </div>
                          <div ng-hide="fp.done">
                              <button ng-click="startUpload(fp)" class="btn btn-primary btn-raised">Upload</button>
                              <button ng-click="cancelUpload(fp)" class="btn btn-primary btn-raised">Cancel</button>
                          </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <span class="instruction">To upload new file: Drop anywhere in panel</span>
    <button class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">
        Cancel</button>
</div>
