<html>
<body>

<div class="modal-header">
    <h3>Create New Discussion Topic</h3>
</div>
<div class="modal-body">
    <div class="form-inline form-group">
	    Subject: 
		<input ng-model="topic.subject" class="form-control" style="width:400px">
        &nbsp; Phase: 
		<select ng-model="topic.phase" class="form-control" style="width:180px">
            <option value="Freeform">Freeform Discussion</option>
            <option value="Draft">Draft Topic</option>
            <option value="Forming">Picture Forming</option>
        </select>
	</div>
    <div>Briefly describe the Topic</div>
    <div ng-model="topic.html" ui-tinymce="tinymceOptions1" class="leafContent" style="max-height:200px;height:200px">
    </div> 
    <div><i>Note: only describe the topic to be discussed.  Don't start discussing it here.
         Start the discussion in a comment on this discussion topic.</i></div>
</div>
<div class="modal-footer">
      <button ng-click="ok()" class="btn btn-primary btn-raised">
            Create Discussion Topic</button>
      <button ng-click="cancel()" class="btn btn-warning btn-raised">Cancel</button>
</div>
</body>
</html>
