<html>
<body>

<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-class="'qqTabSelected'">
    Create New Discussion Topic
    </span>
  </div>
</div>
<div class="modal-body fluid-container">
    <div class="row">
      <div class="form-group col-md-8" 
             title="The subject should descripbe the topic in a few words">
  	    <label>Subject</label>
  		  <input ng-model="topic.subject" class="form-control"
             placeholder="A few words here to describe the topic to others">
      </div>
      <div class="form-group col-md-4" 
             title="Use draft if you are not ready for others to see it, freeform is you are ready to discuss, and picture forming if you want this to be structured.">
  	    <label>Phase</label>
        <select ng-model="topic.phase" class="form-control">
            <option value="Freeform">Freeform Discussion</option>
            <option value="Draft">Draft Topic</option>
            <option value="Forming">Picture Forming</option>
        </select>
      </div>
	</div>
    <label>Briefly describe the Topic</label>
    <div ng-model="topic.html" ui-tinymce="tinymceOptions1" class="leafContent" style="max-height:200px;height:200px">
    </div>
</div>
<div class="modal-footer">
    <span class="instruction" style="margin-right:30px">
        Note: only describe the topic briefly.  Don't start discussing it here.</span>
    <span>
      <button ng-click="ok()" class="btn btn-primary btn-raised">
            Create {{topic.phase}}</button>
      <button ng-click="cancel()" class="btn btn-warning btn-raised">Cancel</button>
    </span>
</div>
</body>
</html>
