
<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-class="'qqTabSelected'">
    Edit Document Details
    </span>
  </div>
</div>
<div class="modal-body">
  <div>
    <div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="synopsis">Type:</label>
            <span ng-show="docInfo.attType=='FILE'">File, &nbsp;  
                <span ng-hide="docInfo.deleted">{{docInfo.size|number}} bytes</span>
                <span ng-show="docInfo.deleted" style="color:red">Deleted</span>
            </span>
            <span ng-show="docInfo.attType=='URL'">URL</span>
        </div>
        <div class="form-group">
            <label for="synopsis">Name:</label>
            <input ng-model="docInfo.name" class="form-control"     
                placeholder="Enter name of the document"/>           
        </div>
        <div class="form-group" ng-show="docInfo.attType=='URL'">
            <label for="synopsis">URL:</label>
            <input ng-model="docInfo.url" class="form-control"     
                placeholder="Enter url of the link"/>           
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="labels">Labels:</label>
            <span class="dropdown" ng-repeat="role in allLabels">
                <button class="labelButton" type="button" id="menu2"
                   data-toggle="dropdown" style="background-color:{{role.color}};"
                   ng-show="hasLabel(role.name)">{{role.name}}</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                   <li role="presentation"><a role="menuitem" title="{{add}}"
                      ng-click="toggleLabel(role)">Remove Label:<br/>{{role.name}}</a></li>
                </ul>
            </span>
            <span class="dropdown">
               <button class="btn btn-sm btn-primary btn-raised labelButton" 
                   type="button" 
                   id="menu1" 
                   data-toggle="dropdown"
                   title="Add Label"
                   style="padding:5px 10px">
                   <i class="fa fa-plus"></i></button>
               <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" 
               style="width:320px;left:-130px">
                 <li role="presentation" ng-repeat="rolex in allLabels" style="float:left">
                     <button role="menuitem" tabindex="-1" ng-click="toggleLabel(rolex)" class="labelButton" 
                     ng-hide="hasLabel(rolex.name)" style="background-color:{{rolex.color}}">
                         {{rolex.name}}</button>
                 </li>
               </ul>
            </span>
        </div>
        <div class="form-group">
            <label for="synopsis">Description:</label>
            <textarea ng-model="docInfo.description" class="form-control"  style="height:100px"  
                placeholder="Enter description of the document"></textarea>          
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised"
        type="button" ng-click="cancel()">Close</button>
</div>

