<html>
<body>
<style>
    .ta-editor.form-control.myform2-height  {
        height: 200px;
        min-height: 200px;
    }
    .visibleBox {
        border: 1px solid darkgray;
        box-shadow: 1px 1px 1px 0 lightgray inset;
    }
</style>
<div class="modal-header">
    <h3>Invite User: {{email}}</h3>
</div>
<div class="modal-body">
    <textarea ng-model="message" class="form-control visibleBox" style="height:200px"></textarea>
</div>
<div class="modal-footer">
      <button ng-click="ok()" class="btn btn-primary btn-raised">Send Invitation</button>
      <button ng-click="cancel()" class="btn btn-warning btn-raised">Don't Send Invite</button>
</div>
</body>
</html>
