

<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-class="'qqTabSelected'">
    Nominate Someone for a Role Term
    </span>
  </div>
</div>
<div class="modal-body">
    <div>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="status">Owner:</label>
            <input class="form-control" ng-model="nom.owner"/>
        </div>
        <div class="form-group">
            <label for="status">Nominee:</label>
            <input class="form-control" ng-model="nom.nominee"/>
        </div>
        <div class="form-group">
            <label for="status">Reason:</label>
            <textarea class="form-control" ng-model="nom.comment"></textarea>
        </div>
      </div>
    </div>
</div>
<div >
            
</div>
<div class="modal-footer">
    <div class="col-md-12">
        <button ng-click="saveAndClose()" class="btn btn-default btn-raised">Save</button>
        <button ng-click="cancel()" class="btn btn-default btn-raised">Cancel</button>
    </div>
</div>
