<html>
<body>
<style>
    .ta-editor.form-control.myform2-height  {
        height: 200px;
        min-height: 200px;
    }
    .spaceyTable {
        width:100%;
    }
    .spaceyTable tr td {
        padding:10px;
    }
    .visibleBox {
        border: 1px solid darkgray;
        box-shadow: 1px 1px 1px 0 lightgray inset;
    }
</style>
<div class="modal-body">
    <table ng-hide="isNew" class="spaceyTable">
        <tr>
            <td class="gridTableColummHeader">Name:</td>
            <td>
               <input ng-show="isNew" class="form-control" ng-model="roleInfo.name">
               <button ng-hide="isNew" class="btn btn-sm" style="background-color:{{roleInfo.color}};">{{roleInfo.name}}</button>
            </td>
            <td align="right">
               <div class="dropdown" style="float: right;">
                    <b>Color:</b>
                    <button class="btn btn-default btn-raised dropdown-toggle" type="button" id="menu2"
                        data-toggle="dropdown" style="background-color:{{roleInfo.color}};">
                    {{roleInfo.color}} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                        <li role="presentation" ng-repeat="color in colors">
                            <a role="menuitem" style="background-color:{{color}};"
                            ng-click="roleInfo.color=color;updatePlayers()">{{color}}</a></li>
                    </ul>
                </div>
            </td>
            <td style="width:30px;"></td>
        </tr>
        <tr>
            <td class="gridTableColummHeader">Players:</td>
            <td colspan="2">
              <tags-input ng-model="roleInfo.players" placeholder="Enter user name or id"
                          display-property="name" key-property="uid" 
                          on-tag-added="updatePlayers()" 
                          on-tag-removed="updatePlayers()">
                  <auto-complete source="loadPersonList($query)"></auto-complete>
              </tags-input>
            </td>
        </tr>
        <tr>
             <td class="gridTableColummHeader">Description:</td>
             <td colspan="2">{{roleInfo.description}}</td>
        </tr>
        <tr>
             <td class="gridTableColummHeader">Term:</td>
             <td colspan="2">
                 <span ng-show="currentTerm">
                      {{currentTerm.termStart | date}} to {{currentTerm.termEnd | date}}.
                      Nomination status is {{currentTerm.state}}</span>
                 <span ng-hide="currentTerm">
                     <i>No current term has been set for this role.  Role players are perpetual.</i></span>
             </td>
        </tr>
        <tr>
             <td class="gridTableColummHeader">Responsibities:</td>
             <td colspan="2">
                 <span ng-repeat="resp in roleInfo.responsibilities">
                      {{resp.text}}, </span>
                 <span ng-show="roleInfo.responsibilities.length==0">
                     <i>No responsibilities have been set for this role.</i></span>
             </td>
        </tr>
        <tr>
             <td class="gridTableColummHeader"></td>
             <td colspan="2">
                <button ng-click="deleteAndClose()" class="btn btn-primary btn-raised">Delete Role</button> &nbsp; &nbsp; 
                <button ng-click="cancel()" class="btn btn-default btn-raised">Close</button> &nbsp; &nbsp; 
                &nbsp;  
                &nbsp; &nbsp; 
                <button ng-click="defineRole()" class="btn btn-info btn-raised">Define Role</button>
             </td>
        </tr>
    </table>
    <table class="spaceyTable" ng-show="isNew">
        <tr><td style="height:10px" colspan="3"></td></tr>
        <tr>
            <td class="gridTableColummHeader">Name:</td>
            <td>
               <input ng-show="isNew" class="form-control" ng-model="roleInfo.name">
            </td>
        </tr>
        <tr>
            <td class="gridTableColummHeader"></td>
            <td>
               <i>First create the role, then add member to it.  Role names can not be changed.
                  The name should be short and should use only letters and numbers.</i>
            </td>
        </tr>
        <tr>
            <td class="gridTableColummHeader"></td>
            <td>
                <button ng-click="cancel()" class="btn btn-default btn-raised">Cancel</button> &nbsp; &nbsp; 
                <button ng-click="createAndClose()" class="btn btn-primary btn-raised">Create Role</button>
            </td>
        </tr>
    </table>
 
</div>
<div class="modal-footer">
</div>
</body>
</html>
