<style>
    .ta-editor.form-control.myform2-height  {
        height: 100px;
        min-height: 100px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">Edit Share Port</h3>
</div>
<div class="modal-body">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label for="labels">Name:</label>
      <input ng-model="sharePort.name" class="form-control" placeholder="Enter Displayed Name"/>
    </div>
    <div class="form-group">
      <label for="labels">Purpose:</label>
      <input ng-model="sharePort.purpose" class="form-control" placeholder="Internal Purpose Note"/>
    </div>
    <div class="form-group">
      <label for="labels">Message:</label>
      <textarea ng-model="sharePort.message" class="form-control" placeholder="Tell user what this is for"></textarea>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label for="labels">Filter Text:</label>
      <input ng-model="sharePort.filter" class="form-control" placeholder="Document name description filter"/>
    </div>
    <div class="form-group">
      <label for="labels">Labels:</label>
      <span class="dropdown" ng-repeat="role in allLabels">
        <button class="dropdown-toggle labelButton" type="button" id="menu2"
           data-toggle="dropdown" style="background-color:{{role.color}};"
           ng-show="hasLabel(role)">{{role.name}}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
           <li role="presentation"><a role="menuitem" title="{{add}}"
              ng-click="removeLabel(role)" style="border:2px {{role.color}} solid;">Remove Label:<br/>{{role.name}}</a></li>
        </ul>
      </span>
      <span>
         <span class="dropdown">
           <button class="btn btn-sm btn-primary btn-raised labelButton" 
               type="button" 
               id="menu1" 
               data-toggle="dropdown"
               title="Add Filter"
               style="padding:5px 10px">
               <i class="fa fa-plus"></i></button>         
           <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" 
               style="width:320px;left:-130px">
             <li role="presentation" ng-repeat="rolex in allLabels" style="float:left">
                 <button role="menuitem" tabindex="-1" ng-click="addLabel(rolex)" class="labelButton" 
                 ng-hide="hasLabel(rolex.name)" style="background-color:{{rolex.color}}">
                     {{rolex.name}}</button>
             </li>
           </ul>
         </span>
      </span>
    </div>
    <div class="form-group">
      <label for="labels">Active:</label>
      <input type="checkbox" ng-model="sharePort.isActive" class="form-control" title="Share is visible when active, invisible when not."/>
    </div>
    <div class="form-group">
      <label for="labels">Days:</label>
      <input type="number" ng-model="sharePort.days" class="form-control" placeholder="How many days will this be valid for"/>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
<div class="modal-footer">
    <button ng-show="id=='~new~'" class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Create</button>
    <button ng-hide="id=='~new~'" class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">
        Cancel</button>
</div>

