
<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-class="'qqTabSelected'">
    Configure Share Port
    </span>
  </div>
</div>
<div class="modal-body">
  <div class="col-sm-12 col-md-6" 
         title="This name will appear at the top of the sharing page.">
    <div class="form-group">
      <label for="labels">Name:</label>
      <input ng-model="sharePort.name" class="form-control" placeholder="Enter Displayed Name"/>
    </div>
    <div class="form-group"
         title="This message will appear on the sharing page below the title.">
      <label for="labels">Message:</label>
      <textarea ng-model="sharePort.message" class="form-control" placeholder="Tell user what this is for"></textarea>
    </div>
    <div class="form-group"
         title="These are just notes to you or others in the workspace about why this was being shared.">
      <label for="labels">Purpose:</label>
      <input ng-model="sharePort.purpose" class="form-control" placeholder="Internal notes on what this is about."/>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group"
         title="Only documents with this text in name or description will be shared.">
      <label for="labels">Filter Text:</label>
      <input ng-model="sharePort.filter" class="form-control" placeholder="Document name description filter"/>
    </div>
    <div class="form-group"
         title="Only documents with all specified labels will be shared.">
      <label for="labels">Labels:</label>
      <span class="dropdown" ng-repeat="role in allLabels">
        <button class="dropdown-toggle labelButton" type="button" id="menu2"
           data-toggle="dropdown" style="background-color:{{role.color}};"
           ng-show="hasLabel(role)">{{role.name}}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
           <li role="presentation"><a role="menuitem" title="{{add}}"
              ng-click="removeLabel(role)" style="border:2px {{role.color}} solid;">Remove Label:<br/>{{role.name}}</a></li>
        </ul>
      </span>
      <span>
         <span class="dropdown">
           <button class="btn btn-sm btn-primary btn-raised labelButton" 
               type="button" 
               id="menu1" 
               data-toggle="dropdown"
               title="Add Filter"
               style="padding:5px 10px">
               <i class="fa fa-plus"></i></button>         
           <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" 
               style="width:320px;left:-130px">
             <li role="presentation" ng-repeat="rolex in allLabels" style="float:left">
                 <button role="menuitem" tabindex="-1" ng-click="addLabel(rolex)" class="labelButton" 
                 ng-hide="hasLabel(rolex.name)" style="background-color:{{rolex.color}}">
                     {{rolex.name}}</button>
             </li>
           </ul>
         </span>
      </span>
    </div>
    <div class="form-group">
      <button ng-click="sharePort.isActive = !sharePort.isActive" class="btn btn-default btn-raised" 
              title="Share port is visible when active, invisible when not.">
          <span ng-show="sharePort.isActive" class="fa fa-check-square-o"></span>
          <span ng-show="!sharePort.isActive" class="fa fa-square-o"></span>
          Active
    </div>
    <div class="form-group" ng-show="sharePort.isActive" 
         title="How many days will this be available.  Set to zero to be available forever">
      <label for="labels">Days (from now):</label>
      <input type="number" ng-model="sharePort.days" class="form-control"/>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
<div class="modal-footer">
    <button ng-show="id=='~new~'" class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Create</button>
    <button ng-hide="id=='~new~'" class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">
        Cancel</button>
</div>

