@font-face {
  font-family: 'PT_Sans';
  src: url('../fonts/');
  src: url('../fonts/PT_Sans-Web-Regular.eot') format('embedded-opentype'), url('../fonts/PT_Sans-Web-Regular.woff') format('woff'), url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype'), url('../fonts/PT_Sans-Web-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT_Sans';
  src: url('../fonts/');
  src: url('../fonts/PT_Sans-Web-Bold.eot') format('embedded-opentype'), url('../fonts/PT_Sans-Web-Bold.woff') format('woff'), url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype'), url('../fonts/PT_Sans-Web-Bold.svg') format('svg');
  font-weight: bold;
  font-style: bold;
}
