{
  "ApplicationHomePage": "http://your_server:8080/cog/",
  "ApplicationName": "Cognoscenti",
  "BaseURL": "http://your_server_again:8080/cog",
  "tenants": [{
    "id": "only_tenant",
    "options": [
      {
        "img": "email.gif",
        "name": "Login with your email address",
        "type": "big",
        "url": "https://interstagebpm.com/eid/"
      }
    ]
  }]
}
