<style>
.docTable {
    width:100%;
}
.docTable tr td {
    padding:2px;
}
.docTable tr td button {
    height:25px;
    width:25px;
    padding:2px;
    margin:2px;
}

</style>


<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-class="'qqTabSelected'">
    Link to Discussion Topic
    </span>
  </div>
</div>
<div class="modal-body">
   <div >
      <table style="width:100%"><tr>
      <td style="width:50%;vertical-align:top;padding:10px;">
        <div class="sBoxTop"> 
            Existing Topics - Filter <input type="text" ng-model="realDocumentFilter">
        </div>
        <div class="sBoxMain">
          <table class="docTable">
            <tr ng-repeat="doc in filterDocs()" ng-click="addDocToItem(doc)" style="cursor:pointer"
                title="Click to link to this topic">
                <td> {{doc.subject}} </td>
                <td>
                    <button ng-hide="itemHasDoc(doc)"
                        class="btn" >&nbsp; <i class="fa fa-arrow-right"></i></button>
                    <button  ng-show="itemHasDoc(doc)"
                        class="btn">&nbsp; &nbsp;</button>
                </td>
            </tr>
            <tr ng-show="filterDocs().length==0">
                <td class="instruction">No topics to choose from.<br/><br/>Filter: {{realDocumentFilter}}</td>
            </tr>
          </table>
        </div>
      </td>
      <td style="width:50%;vertical-align:top;padding:10px;">
        <div class="sBoxTop"> 
            Selected Topics
        </div>
        <div class="sBoxMain">
          <table class="docTable">
            <tr ng-repeat="topic in fullTopics" ng-click="removeDocFromItem(topic)" 
                title="Click to unlink the discussion topic"  style="cursor:pointer">
                <td> {{topic.subject}} </td>
                <td>
                    <button class="btn"><i class="fa fa-close"></i> &nbsp;</button>
                </td>
            </tr>
            <tr ng-show="fullTopics.length==0">
                <td class="instruction">No topic linked..<br/><br/>
                <span ng-show="filterDocs().length>0">Click on an topic on the left, to set it here on the right.  Since only one can be linked it will replace whatever was linked before.</span></td>
            </tr>
          </table>
        </div>
      </td>
      </tr>
      </table>
   </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-raised"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">
        Cancel</button>
</div>
