<html>
<body>


<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span ng-class="'qqTabSelected'">
    Edit {{commentTypeName()}} Outcome
    </span>
  </div>
</div>
<div class="modal-body">
    <div class="leafContent">
    	<div ui-tinymce="tinymceOptions" ng-model="cmt.outcome" 
             class="leafContent" style="min-height:200px;" ></div>
    </div>
</div>
<div class="modal-footer">
      <button ng-click="ok()" class="btn btn-primary btn-raised">
            Close & Save</button>
      <button ng-click="cancel()" class="btn btn-warning btn-raised">Cancel</button>
</div>
</body>
</html>
