<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
        <context-param>
            <param-name>maxSize</param-name>
            <param-value>314572800</param-value>
        </context-param>


        <context-param>
                    <param-name>contextConfigLocation</param-name>
                    <param-value>WEB-INF/dispatcher-servlet.xml</param-value>
        </context-param>

        <!-- ========================================================== -->
        <!-- ====== The NGFilter Filter for release resource lock ===== -->
        <!-- ========================================================== -->
        <filter>
            <filter-name>NGFilter</filter-name>
            <filter-class>org.socialbiz.cog.NGFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>NGFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>


         <listener>
            <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
         </listener>


    <servlet>
        <servlet-name>NGLeafServlet</servlet-name>
        <servlet-class>org.socialbiz.cog.rest.NGLeafServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DataFeedServlet</servlet-name>
        <display-name>DataFeedServlet</display-name>
        <servlet-class>org.socialbiz.cog.rest.DataFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.socialbiz.cog.spring.SpringServletWrapper</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataFeedServlet</servlet-name>
        <url-pattern>/servlet/DataFeedServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmergencyConfigServlet</servlet-name>
        <display-name>EmergencyConfigServlet</display-name>
        <servlet-class>org.socialbiz.cog.rest.EmergencyConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RssServlet</servlet-name>
        <servlet-class>org.socialbiz.cog.rest.RssServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>apiServlet</servlet-name>
        <servlet-class>org.socialbiz.cog.api.APIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>apiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>apuServlet</servlet-name>
        <servlet-class>org.socialbiz.cog.api.APUServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>apuServlet</servlet-name>
        <url-pattern>/apu/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>org.socialbiz.cog.api.LightweightAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/t/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/v/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NGLeafServlet</servlet-name>
        <url-pattern>/p/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NGLeafServlet</servlet-name>
        <url-pattern>/b/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NGLeafServlet</servlet-name>
        <url-pattern>/s/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NGLeafServlet</servlet-name>
        <url-pattern>/u/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>RssServlet</servlet-name>
        <url-pattern>/Tasks.rss</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmergencyConfigServlet</servlet-name>
        <url-pattern>/init/*</url-pattern>
    </servlet-mapping>

   <security-constraint>
    <web-resource-collection>
        <web-resource-name>Deny Direct Access</web-resource-name>
        <description>
        Deny direct access to JSPs by associating them with denied role
        </description>
        <url-pattern>/springbogus/*</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>

    <auth-constraint>
        <role-name>Denied</role-name>
    </auth-constraint>

  </security-constraint>

  <security-role>
    <role-name>Denied</role-name>
  </security-role>


</web-app>
